package showcase

import "github.com/templui/templui/components/accordion"

templ AccordionDefault() {
	<div class="w-full max-w-sm">
		@accordion.Accordion() {
			@accordion.Item(accordion.ItemProps{Open: true}) {
				@accordion.Trigger() {
					Is it accessible?
				}
				@accordion.Content() {
					Yes. It adheres to the WAI-ARIA design pattern.
				}
			}
			@accordion.Item() {
				@accordion.Trigger() {
					Is it styled?
				}
				@accordion.Content() {
					Yes. It comes with default styles that matches the other components aesthetic.
				}
			}
			@accordion.Item() {
				@accordion.Trigger() {
					Is it CSS-only?
				}
				@accordion.Content() {
					Yes. It uses native details and summary elements with no JavaScript.
				}
			}
		}
	</div>
}
