package showcase

import (
	"github.com/templui/templui/components/avatar"
	"github.com/templui/templui/components/icon"
)

templ AvatarWithIcon() {
	@avatar.Avatar() {
		@avatar.Fallback() {
			@icon.Camera(icon.Props{Class: "size-[22px] text-muted-foreground"})
		}
	}
}
