package showcase

import (
	"github.com/templui/templui/components/breadcrumb"
	"github.com/templui/templui/components/icon"
)

templ BreadcrumbCustomSeparator() {
	@breadcrumb.Breadcrumb() {
		@breadcrumb.List() {
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{
					Href: "/",
				}) {
					Home
				}
			}
			@breadcrumb.Item() {
				@breadcrumb.Separator(breadcrumb.SeparatorProps{UseCustom: true}) {
					@icon.Slash(icon.Props{Size: 14})
				}
				@breadcrumb.Link(breadcrumb.LinkProps{
					Href: "/products",
				}) {
					Products
				}
			}
			@breadcrumb.Item() {
				@breadcrumb.Separator(breadcrumb.SeparatorProps{UseCustom: true}) {
					@icon.Slash(icon.Props{Size: 14})
				}
				@breadcrumb.Page(breadcrumb.ItemProps{Current: true}) {
					Category
				}
			}
		}
	}
}
