package showcase

import (
	"github.com/templui/templui/components/breadcrumb"
	"github.com/templui/templui/components/icon"
)

templ BreadcrumbWithIcons() {
	@breadcrumb.Breadcrumb() {
		@breadcrumb.List() {
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{
					Href: "/",
				}) {
					@icon.House(icon.Props{Class: "size-4"})
					<span class="ml-1">Home</span>
				}
			}
			@breadcrumb.Item() {
				@breadcrumb.Separator()
				@breadcrumb.Link(breadcrumb.LinkProps{
					Href: "/docs",
				}) {
					@icon.FileText(icon.Props{Class: "size-4"})
					<span class="ml-1">Documentation</span>
				}
			}
			@breadcrumb.Item() {
				@breadcrumb.Separator()
				@breadcrumb.Page(breadcrumb.ItemProps{Current: true}) {
					@icon.Component(icon.Props{Class: "size-4"})
					<span class="ml-1">Components</span>
				}
			}
		}
	}
}
