package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/buttongroup"
	"github.com/templui/templui/components/dropdownmenu"
	"github.com/templui/templui/components/icon"
)

templ ButtonGroupDropdown() {
	@buttongroup.ButtonGroup() {
		@button.Button(button.Props{Variant: button.VariantOutline}) {
			Follow
		}
		@dropdownmenu.Root() {
			@button.Button(button.Props{
				Variant:    button.VariantOutline,
				Class:      "pl-2!",
				Attributes: dropdownmenu.Trigger(ctx),
			}) {
				@icon.ChevronDown()
			}
			@dropdownmenu.Content(dropdownmenu.ContentProps{
				Align: dropdownmenu.AlignEnd,
				Class: "w-44",
			}) {
				@dropdownmenu.Group() {
					@dropdownmenu.Item() {
						@icon.VolumeOff()
						Mute Conversation
					}
					@dropdownmenu.Item() {
						@icon.Check()
						Mark as Read
					}
					@dropdownmenu.Item() {
						@icon.TriangleAlert()
						Report Conversation
					}
					@dropdownmenu.Item() {
						@icon.UserRoundX()
						Block User
					}
					@dropdownmenu.Item() {
						@icon.Share()
						Share Conversation
					}
					@dropdownmenu.Item() {
						@icon.Copy()
						Copy Conversation
					}
				}
				@dropdownmenu.Separator()
				@dropdownmenu.Group() {
					@dropdownmenu.Item(dropdownmenu.ItemProps{Variant: dropdownmenu.ItemVariantDestructive}) {
						@icon.Trash2()
						Delete Conversation
					}
				}
			}
		}
	}
}
