package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/buttongroup"
	"github.com/templui/templui/components/icon"
)

templ ButtonGroupOrientation() {
	@buttongroup.ButtonGroup(buttongroup.Props{
		Orientation: buttongroup.OrientationVertical,
		Class:       "h-fit",
		Attributes:  templ.Attributes{"aria-label": "Media controls"},
	}) {
		@button.Button(button.Props{
			Variant: button.VariantOutline,
			Size: button.SizeIcon,
		}) {
			@icon.Plus()
		}
		@button.Button(button.Props{
			Variant: button.VariantOutline,
			Size: button.SizeIcon,
		}) {
			@icon.Minus()
		}
	}
}
