package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/buttongroup"
	"github.com/templui/templui/components/dropdownmenu"
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/utils"
)

templ ButtonGroupDefault() {
	@buttongroup.ButtonGroup() {
		@buttongroup.ButtonGroup(buttongroup.Props{Class: "hidden sm:flex"}) {
			@button.Button(button.Props{
				Variant:    button.VariantOutline,
				Size:       button.SizeIcon,
				Attributes: templ.Attributes{"aria-label": "Go Back"},
			}) {
				@icon.ArrowLeft()
			}
		}
		@buttongroup.ButtonGroup() {
			@button.Button(button.Props{Variant: button.VariantOutline}) {
				Archive
			}
			@button.Button(button.Props{Variant: button.VariantOutline}) {
				Report
			}
		}
		@buttongroup.ButtonGroup() {
			@button.Button(button.Props{Variant: button.VariantOutline}) {
				Snooze
			}
			@dropdownmenu.Root() {
				@button.Button(button.Props{
					Variant:    button.VariantOutline,
					Size:       button.SizeIcon,
					Attributes: utils.MergeAttributes(dropdownmenu.Trigger(ctx), templ.Attributes{"aria-label": "More Options"}),
				}) {
					@icon.Ellipsis()
				}
				@dropdownmenu.Content(dropdownmenu.ContentProps{
					Align: dropdownmenu.AlignEnd,
					Class: "w-40",
				}) {
					@dropdownmenu.Group() {
						@dropdownmenu.Item() {
							@icon.MailCheck()
							Mark as Read
						}
						@dropdownmenu.Item() {
							@icon.Archive()
							Archive
						}
					}
					@dropdownmenu.Separator()
					@dropdownmenu.Group() {
						@dropdownmenu.Item() {
							@icon.Clock()
							Snooze
						}
						@dropdownmenu.Item() {
							@icon.CalendarPlus()
							Add to Calendar
						}
						@dropdownmenu.Item() {
							@icon.ListFilter()
							Add to List
						}
						@dropdownmenu.Sub() {
							@dropdownmenu.SubTrigger() {
								@icon.Tag()
								Label As...
							}
							@dropdownmenu.SubContent() {
								@dropdownmenu.RadioGroup() {
									@dropdownmenu.RadioItem(dropdownmenu.RadioItemProps{
										Value:   "personal",
										Checked: true,
									}) {
										Personal
									}
									@dropdownmenu.RadioItem(dropdownmenu.RadioItemProps{Value: "work"}) {
										Work
									}
									@dropdownmenu.RadioItem(dropdownmenu.RadioItemProps{Value: "other"}) {
										Other
									}
								}
							}
						}
					}
					@dropdownmenu.Separator()
					@dropdownmenu.Group() {
						@dropdownmenu.Item(dropdownmenu.ItemProps{Variant: dropdownmenu.ItemVariantDestructive}) {
							@icon.Trash2()
							Trash
						}
					}
				}
			}
		}
	}
}
