package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/buttongroup"
	"github.com/templui/templui/components/icon"
)

templ ButtonGroupSize() {
	<div class="flex flex-col items-start gap-8">
		@buttongroup.ButtonGroup() {
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeSm,
			}) {
				Small
			}
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeSm,
			}) {
				Button
			}
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeSm,
			}) {
				Group
			}
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeIconSm,
			}) {
				@icon.Plus()
			}
		}
		@buttongroup.ButtonGroup() {
			@button.Button(button.Props{Variant: button.VariantOutline}) {
				Default
			}
			@button.Button(button.Props{Variant: button.VariantOutline}) {
				Button
			}
			@button.Button(button.Props{Variant: button.VariantOutline}) {
				Group
			}
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeIcon,
			}) {
				@icon.Plus()
			}
		}
		@buttongroup.ButtonGroup() {
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeLg,
			}) {
				Large
			}
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeLg,
			}) {
				Button
			}
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeLg,
			}) {
				Group
			}
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size: button.SizeIconLg,
			}) {
				@icon.Plus()
			}
		}
	</div>
}
