package showcase

import (
	"github.com/templui/templui/components/code"
	"github.com/templui/templui/components/copybutton"
)

templ CodeCopyButton() {
	<div class="relative w-full max-w-md">
		@code.Code(code.Props{
			ID:       "code-with-copy",
			Language: "go",
		}) {
			{ `fmt.Println("Hello, World!")` }
		}
		@copybutton.CopyButton(copybutton.Props{
			TargetID: "code-with-copy",
			Class:    "absolute top-2 right-2",
		})
	</div>
}
