package showcase

import (
	"github.com/templui/templui/components/datepicker"
	"github.com/templui/templui/components/field"
)

templ DatePickerForm() {
	<div class="w-full max-w-sm">
		@field.Field() {
			@field.Label(field.LabelProps{
				For: "date-picker-form",
			}) {
				Select a date
			}
			@datepicker.DatePicker(datepicker.Props{
				ID:       "date-picker-form",
				HasError: true,
			})
			@field.Description() {
				Select a date from the calendar.
			}
			@field.Error() {
				Select a valid date
			}
		}
	</div>
}
