package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/dropdownmenu"
)

templ DropdownMenuCheckboxes() {
	@dropdownmenu.Root() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: dropdownmenu.Trigger(ctx),
		}) {
			Open
		}
		@dropdownmenu.Content(dropdownmenu.ContentProps{Class: "w-40"}) {
			@dropdownmenu.Group() {
				@dropdownmenu.Label() {
					Appearance
				}
				@dropdownmenu.CheckboxItem(dropdownmenu.CheckboxItemProps{Checked: true}) {
					Status Bar
				}
				@dropdownmenu.CheckboxItem(dropdownmenu.CheckboxItemProps{Disabled: true}) {
					Activity Bar
				}
				@dropdownmenu.CheckboxItem() {
					Panel
				}
			}
		}
	}
}
