package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/dropdownmenu"
)

templ DropdownMenuBasic() {
	@dropdownmenu.Root() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: dropdownmenu.Trigger(ctx),
		}) {
			Open
		}
		@dropdownmenu.Content() {
			@dropdownmenu.Group() {
				@dropdownmenu.Label() {
					My Account
				}
				@dropdownmenu.Item() {
					Profile
				}
				@dropdownmenu.Item() {
					Billing
				}
				@dropdownmenu.Item() {
					Settings
				}
			}
			@dropdownmenu.Separator()
			@dropdownmenu.Item() {
				GitHub
			}
			@dropdownmenu.Item() {
				Support
			}
			@dropdownmenu.Item(dropdownmenu.ItemProps{Disabled: true}) {
				API
			}
		}
	}
}
