package showcase

import (
	"github.com/templui/templui/components/checkbox"
	"github.com/templui/templui/components/field"
)

templ FieldGroupExample() {
	@field.Group(field.GroupProps{Class: "w-full max-w-xs"}) {
		@field.Set() {
			@field.Label() {
				Responses
			}
			@field.Description() {
				Get notified when ChatGPT responds to requests that take time, like research or image generation.
			}
			@field.Group(field.GroupProps{Attributes: templ.Attributes{"data-slot": "checkbox-group"}}) {
				@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
					@checkbox.Checkbox(checkbox.Props{
						ID:       "push",
						Checked:  true,
						Disabled: true,
					})
					@field.Label(field.LabelProps{
						For:   "push",
						Class: "font-normal",
					}) {
						Push notifications
					}
				}
			}
		}
		@field.Separator()
		@field.Set() {
			@field.Label() {
				Tasks
			}
			@field.Description() {
				Get notified when tasks you've created have updates.
				<a href="#">Manage tasks</a>
			}
			@field.Group(field.GroupProps{Attributes: templ.Attributes{"data-slot": "checkbox-group"}}) {
				@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
					@checkbox.Checkbox(checkbox.Props{ID: "push-tasks"})
					@field.Label(field.LabelProps{
						For:   "push-tasks",
						Class: "font-normal",
					}) {
						Push notifications
					}
				}
				@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
					@checkbox.Checkbox(checkbox.Props{ID: "email-tasks"})
					@field.Label(field.LabelProps{
						For:   "email-tasks",
						Class: "font-normal",
					}) {
						Email notifications
					}
				}
			}
		}
	}
}
