package showcase

import (
	"github.com/templui/templui/components/badge"
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/input"
)

templ InputBadge() {
	@field.Field() {
		@field.Label(field.LabelProps{For: "input-badge"}) {
			Webhook URL
			@badge.Badge(badge.Props{
				Variant: badge.VariantSecondary,
				Class:   "ml-auto",
			}) {
				Beta
			}
		}
		@input.Input(input.Props{
			ID:          "input-badge",
			Type:        input.TypeURL,
			Placeholder: "https://api.example.com/webhook",
		})
	}
}
