package showcase

import "github.com/templui/templui/components/input"

templ InputTimeStyled() {
	<div class="w-full max-w-sm">
		@input.Input(input.Props{
			Type:  input.TypeTime,
			Value: "10:30:00",
			Class: "appearance-none [&::-webkit-calendar-picker-indicator]:hidden [&::-webkit-calendar-picker-indicator]:appearance-none",
			Attributes: templ.Attributes{
				"step": "1",
			},
		})
	</div>
}
