package showcase

import (
	"github.com/templui/templui/components/button"
	popovernative "github.com/templui/templui/components/popovernative"
)

templ PopoverNativeTriggers() {
	<div class="flex gap-2 flex-wrap">
		@popovernative.Root() {
			@popovernative.Trigger(popovernative.TriggerProps{
				TriggerType: popovernative.TriggerTypeHover,
			}) {
				@button.Button(button.Props{Variant: button.VariantOutline}) {
					Hover
				}
			}
			@popovernative.Content(popovernative.ContentProps{
				HoverDelay:    300,
				HoverOutDelay: 500,
			}) {
				@PopoverContent()
			}
		}
		@popovernative.Root() {
			@popovernative.Trigger() {
				@button.Button(button.Props{Variant: button.VariantOutline}) {
					Click
				}
			}
			@popovernative.Content() {
				@PopoverContent()
			}
		}
		@popovernative.Root() {
			@popovernative.Trigger() {
				@button.Button(button.Props{Variant: button.VariantOutline}) {
					No ClickAway
				}
			}
			@popovernative.Content(popovernative.ContentProps{
				DisableClickAway: true,
			}) {
				@PopoverContent()
			}
		}
		@popovernative.Root() {
			@popovernative.Trigger() {
				@button.Button(button.Props{Variant: button.VariantOutline}) {
					No ClickAway-ESC
				}
			}
			@popovernative.Content(popovernative.ContentProps{
				DisableClickAway: true,
				DisableESC:       true,
			}) {
				@PopoverContent()
			}
		}
	</div>
}
