package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/popover"
)

templ PopoverPositions() {
	<div class="flex flex-col w-full max-w-md">
		<div class="grid grid-cols-3 gap-2">
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Top Start 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementTopStart, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Top 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementTop, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Top End 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementTopEnd, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Right Start 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementRightStart, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Right 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementRight, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Right End 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementRightEnd, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Bottom Start 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementBottomStart, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Bottom 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementBottom, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Bottom End 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementBottomEnd, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Left Start 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementLeftStart, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Left 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementLeft, ShowArrow: true}) {
					@PopoverContent()
				}
			}
			@popover.Root() {
				@popover.Trigger(popover.TriggerProps{TriggerType: popover.TriggerTypeHover}) {
					@button.Button(button.Props{Class: "w-full", Variant: button.VariantOutline}) {
						Left End 
					}
				}
				@popover.Content(popover.ContentProps{Placement: popover.PlacementLeftEnd, ShowArrow: true}) {
					@PopoverContent()
				}
			}
		</div>
	</div>
}
