package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/popover"
)

templ PopoverTriggers() {
	<div class="flex gap-2 flex-wrap">
		@popover.Root() {
			@popover.Trigger(popover.TriggerProps{
				TriggerType: popover.TriggerTypeHover,
			}) {
				@button.Button(button.Props{Variant: button.VariantOutline}) {
					Hover
				}
			}
			@popover.Content(popover.ContentProps{
				HoverDelay:    300,
				HoverOutDelay: 500,
			}) {
				@PopoverContent()
			}
		}
		@popover.Root() {
			@popover.Trigger() {
				@button.Button(button.Props{Variant: button.VariantOutline}) {
					Click
				}
			}
			@popover.Content() {
				@PopoverContent()
			}
		}
		@popover.Root() {
			@popover.Trigger() {
				@button.Button(button.Props{Variant: button.VariantOutline}) {
					No ClickAway
				}
			}
			@popover.Content(popover.ContentProps{
				DisableClickAway: true,
			}) {
				@PopoverContent()
			}
		}
		@popover.Root() {
			@popover.Trigger() {
				@button.Button(button.Props{Variant: button.VariantOutline}) {
					No ClickAway-ESC
				}
			}
			@popover.Content(popover.ContentProps{
				DisableClickAway: true,
				DisableESC:       true,
			}) {
				@PopoverContent()
			}
		}
	</div>
}
