package showcase

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/radio"
)

templ RadioForm() {
	<div class="w-full max-w-sm">
		@field.Field() {
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@radio.Radio(radio.Props{
					Name:    "radio-form",
					ID:      "r1",
					Checked: true,
				})
				@field.Label(field.LabelProps{
					For: "r1",
				}) {
					All new products
				}
			}
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@radio.Radio(radio.Props{
					Name:     "radio-form",
					ID:       "r2",
					Disabled: true,
				})
				@field.Label(field.LabelProps{
					For: "r2",
				}) {
					Create a wishlist (Coming Soon)
				}
			}
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@radio.Radio(radio.Props{
					Name: "radio-form",
					ID:   "r3",
				})
				@field.Label(field.LabelProps{
					For: "r3",
				}) {
					No notifications
				}
			}
			@field.Description() {
				You can change your preferences at any time.
			}
			@field.Error() {
				We will send you an email when new products are available.
			}
		}
	</div>
}
