package showcase

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/rating"
)

templ RatingForm() {
	<form class="max-w-sm mx-auto">
		@field.Field() {
			@field.Label(field.LabelProps{
				For: "product_quality",
			}) {
				Product Quality
			}
			@rating.Rating(rating.Props{
				Value:     3,
				ReadOnly:  false,
				Precision: 1.0,
				Name:      "product_quality",
			}) {
				@rating.Group() {
					for i := 1; i <= 5; i++ {
						@rating.Item(rating.ItemProps{
							Value: i,
							Style: rating.StyleStar,
						})
					}
				}
			}
			@field.Description() {
				Rate the quality of the product you received.
			}
			@field.Error() {
				Please rate the product quality.
			}
		}
	</form>
}
