package showcase

import selectcomp "github.com/templui/templui/components/select"

templ SelectScrollable() {
	@selectcomp.Select() {
		@selectcomp.Trigger(selectcomp.TriggerProps{Class: "w-full max-w-64"}) {
			@selectcomp.Value(selectcomp.ValueProps{Placeholder: "Select a timezone"})
		}
		@selectcomp.Content() {
			@selectcomp.Group() {
				@selectcomp.Label() {
					North America
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "est"}) {
					Eastern Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "cst"}) {
					Central Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "mst"}) {
					Mountain Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "pst"}) {
					Pacific Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "akst"}) {
					Alaska Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "hst"}) {
					Hawaii Standard Time
				}
			}
			@selectcomp.Group() {
				@selectcomp.Label() {
					Europe & Africa
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "gmt"}) {
					Greenwich Mean Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "cet"}) {
					Central European Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "eet"}) {
					Eastern European Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "west"}) {
					Western European Summer Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "cat"}) {
					Central Africa Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "eat"}) {
					East Africa Time
				}
			}
			@selectcomp.Group() {
				@selectcomp.Label() {
					Asia
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "msk"}) {
					Moscow Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "ist"}) {
					India Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "cst_china"}) {
					China Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "jst"}) {
					Japan Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "kst"}) {
					Korea Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "ist_indonesia"}) {
					Indonesia Central Standard Time
				}
			}
			@selectcomp.Group() {
				@selectcomp.Label() {
					Australia & Pacific
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "awst"}) {
					Australian Western Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "acst"}) {
					Australian Central Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "aest"}) {
					Australian Eastern Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "nzst"}) {
					New Zealand Standard Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "fjt"}) {
					Fiji Time
				}
			}
			@selectcomp.Group() {
				@selectcomp.Label() {
					South America
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "art"}) {
					Argentina Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "bot"}) {
					Bolivia Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "brt"}) {
					Brasilia Time
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "clt"}) {
					Chile Standard Time
				}
			}
		}
	}
}
