package showcase

import selectcomp "github.com/templui/templui/components/select"

templ SelectGroupsExample() {
	@selectcomp.Select() {
		@selectcomp.Trigger(selectcomp.TriggerProps{Class: "w-full max-w-48"}) {
			@selectcomp.Value(selectcomp.ValueProps{Placeholder: "Select a fruit"})
		}
		@selectcomp.Content() {
			@selectcomp.Group() {
				@selectcomp.Label() {
					Fruits
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "apple"}) {
					Apple
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "banana"}) {
					Banana
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "blueberry"}) {
					Blueberry
				}
			}
			@selectcomp.Separator()
			@selectcomp.Group() {
				@selectcomp.Label() {
					Vegetables
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "carrot"}) {
					Carrot
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "broccoli"}) {
					Broccoli
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "spinach"}) {
					Spinach
				}
			}
		}
	}
}
