package showcase

import (
	"github.com/templui/templui/components/label"
	"github.com/templui/templui/components/slider"
)

templ SliderSteps() {
	<div class="w-full max-w-sm">
		<div class="flex justify-between items-center mb-1">
			@label.Label() {
				Zoom Level
			}
			@slider.Value(slider.ValueProps{
				For: "slider-steps",
			})
		</div>
		@slider.Slider(slider.Props{
			ID:    "slider-steps",
			Name:  "slider-steps",
			Value: 100,
			Min:   0,
			Max:   200,
			Step:  25,
		})
	</div>
}
