package showcase

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/empty"
	"github.com/templui/templui/components/spinner"
)

templ SpinnerEmpty() {
	@empty.Empty(empty.Props{Class: "w-full"}) {
		@empty.Header() {
			@empty.Media(empty.MediaProps{Variant: empty.MediaVariantIcon}) {
				@spinner.Spinner()
			}
			@empty.Title() {
				Processing your request
			}
			@empty.Description() {
				Please wait while we process your request. Do not refresh the page.
			}
		}
		@empty.Content() {
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size:    button.SizeSm,
			}) {
				Cancel
			}
		}
	}
}
