package showcase

import (
	"github.com/templui/templui/components/field"
	// "switch" is a reserved Go keyword, so we use an alias
	switchcomp "github.com/templui/templui/components/switch"
)

templ SwitchForm() {
	<div class="w-full max-w-sm">
		@field.Field() {
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@switchcomp.Switch(switchcomp.Props{
					ID:   "airplane-mode",
					Name: "airplane",
				})
				@field.Label(field.LabelProps{
					For: "airplane-mode",
				}) {
					Airplane Mode
				}
			}
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@switchcomp.Switch(switchcomp.Props{
					ID:       "wifi-mode",
					Name:     "wifi",
					Disabled: true,
				})
				@field.Label(field.LabelProps{
					For: "wifi-mode",
				}) {
					Wi-Fi
				}
			}
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@switchcomp.Switch(switchcomp.Props{
					ID:      "bluetooth-mode",
					Name:    "bluetooth",
					Checked: true,
				})
				@field.Label(field.LabelProps{
					For: "bluetooth-mode",
				}) {
					Bluetooth
				}
			}
			@field.Description() {
				Manage your devices connectivity options.
			}
			@field.Error() {
				Please configure your connectivity settings.
			}
		}
	</div>
}
