package showcase

import (
	"github.com/templui/templui/components/form"
	"github.com/templui/templui/components/tagsinput"
)

templ TagsInputForm() {
	<div class="w-full max-w-sm">
		@form.Item() {
			@form.Label(form.LabelProps{
				For: "tags-form",
			}) {
				Net
			}
			@tagsinput.TagsInput(tagsinput.Props{
				ID:          "tags-form",
				Placeholder: "Enter a network",
				HasError:    true,
			})
			@form.Description() {
				Enter a network in format like '1.1.1.1/32'
			}
			@form.Message(form.MessageProps{
				Variant: form.MessageVariantError,
			}) {
				Please enter a valid network in format like '1.1.1.1/32'
			}
		}
	</div>
}
