package showcase

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/tagsinput"
)

templ TagsInputForm() {
	<div class="w-full max-w-sm">
		@field.Field() {
			@field.Label(field.LabelProps{
				For: "tags-form",
			}) {
				Net
			}
			@tagsinput.TagsInput(tagsinput.Props{
				ID:          "tags-form",
				Placeholder: "Enter a network",
				HasError:    true,
			})
			@field.Description() {
				Enter a network in format like '1.1.1.1/32'
			}
			@field.Error() {
				Please enter a valid network in format like '1.1.1.1/32'
			}
		}
	</div>
}
