package showcase

import (
	"github.com/templui/templui/components/label"
	"github.com/templui/templui/components/tagsinput"
)

templ TagsInputWithLabel() {
	<div class="w-full max-w-sm grid gap-2">
		@label.Label(label.Props{
			For: "nets",
		}) {
			Nets
		}
		@tagsinput.TagsInput(tagsinput.Props{
			ID:          "nets",
			Placeholder: "Enter a network",
			Value:       []string{"127.0.0.1/32"},
		})
	</div>
}
