package showcase

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/timepicker"
)

templ TimePickerForm() {
	<div class="w-full max-w-sm">
		@field.Field() {
			@field.Label(field.LabelProps{
				For: "time-picker-form",
			}) {
				Select a time
			}
			@timepicker.TimePicker(timepicker.Props{
				ID:       "time-picker-form",
				Name:     "time-picker-form",
				HasError: true,
			})
			@field.Description() {
				Select a time from the dropdown.
			}
			@field.Error() {
				Please select a time
			}
		}
	</div>
}
