package showcase

import (
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/toggle"
	"github.com/templui/templui/components/togglegroup"
)

templ ToggleGroup() {
	@togglegroup.Group(togglegroup.Props{
		Variant: togglegroup.VariantOutline,
		Type:    togglegroup.TypeMultiple,
	}) {
		@toggle.Toggle(toggle.Props{
			Value:      "bold",
			Attributes: templ.Attributes{"aria-label": "Toggle bold"},
		}) {
			@icon.Bold()
		}
		@toggle.Toggle(toggle.Props{
			Value:      "italic",
			Attributes: templ.Attributes{"aria-label": "Toggle italic"},
		}) {
			@icon.Italic()
		}
		@toggle.Toggle(toggle.Props{
			Value:      "strikethrough",
			Attributes: templ.Attributes{"aria-label": "Toggle strikethrough"},
		}) {
			@icon.Underline()
		}
	}
}
