package showcase

import (
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/toggle"
)

templ ToggleWithText() {
	@toggle.Toggle() {
		@icon.Italic()
		Italic
	}
}
