package showcase

import (
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/toggle"
)

templ ToggleGhost() {
	<div class="flex items-center gap-2">
		@toggle.Toggle(toggle.Props{
			Variant: toggle.VariantGhost,
			Size:    toggle.SizeIcon,
		}) {
			@icon.Bold()
		}
		@toggle.Toggle(toggle.Props{
			Variant: toggle.VariantGhost,
			Size:    toggle.SizeIcon,
			Checked: true,
		}) {
			@icon.Italic()
		}
	</div>
}
