package label

import "github.com/templui/templui/utils"

type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	For        string
}

templ Label(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<label
		if p.ID != "" {
			id={ p.ID }
		}
		if p.For != "" {
			for={ p.For }
		}
		data-slot="label"
		class={
			utils.TwMerge(
				"flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50",
				p.Class,
			),
		}
		{ p.Attributes... }
	>
		{ children... }
	</label>
}
