package spinner

import (
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/utils"
)

type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	// Label is the accessible name announced to screen readers. Defaults to "Loading".
	Label string
	// Icon optionally overrides the spinning icon. Defaults to icon.LoaderCircle.
	Icon func(...icon.Props) templ.Component
}

templ Spinner(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	if p.Label == "" {
		{{ p.Label = "Loading" }}
	}
	if p.Icon == nil {
		{{ p.Icon = icon.LoaderCircle }}
	}
	<span
		if p.ID != "" {
			id={ p.ID }
		}
		role="status"
		aria-label={ p.Label }
		class="inline-flex"
		{ p.Attributes... }
	>
		@p.Icon(icon.Props{
			Class: utils.TwMerge("size-4 animate-spin", p.Class),
		})
	</span>
}
