package dashboard01

import "github.com/axadrn/shadcn-templ/v2/components/sidebar"

templ Page() {
	@sidebar.Provider(sidebar.ProviderProps{
		Attributes: templ.Attributes{
			"style": "--sidebar-width: calc(var(--spacing) * 72); --sidebar-width-icon: 3rem; --header-height: calc(var(--spacing) * 12);",
		},
	}) {
		@AppSidebar()
		@sidebar.Inset() {
			@SiteHeader()
			<div class="flex flex-1 flex-col">
				<div class="@container/main flex flex-1 flex-col gap-2">
					<div class="flex flex-col gap-4 py-4 md:gap-6 md:py-6">
						@SectionCards()
						<div class="px-4 lg:px-6">
							@ChartAreaInteractive()
						</div>
						@DataTable(Data)
					</div>
				</div>
			</div>
		}
	}
}
