package separator

import "github.com/templui/templui/utils"

type Orientation string

const (
	OrientationHorizontal Orientation = "horizontal"
	OrientationVertical   Orientation = "vertical"
)

type Props struct {
	ID          string
	Class       string
	Attributes  templ.Attributes
	Orientation Orientation
}

templ Separator(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	if p.Orientation == "" {
		{{ p.Orientation = OrientationHorizontal }}
	}
	<div
		if p.ID != "" {
			id={ p.ID }
		}
		data-slot="separator"
		data-orientation={ string(p.Orientation) }
		role="separator"
		aria-orientation={ string(p.Orientation) }
		class={
			utils.TwMerge(
				"shrink-0 bg-border data-[orientation=horizontal]:h-px data-[orientation=horizontal]:w-full data-[orientation=vertical]:w-px data-[orientation=vertical]:self-stretch",
				p.Class,
			),
		}
		{ p.Attributes... }
	></div>
}
