package switchcomp

import "github.com/templui/templui/utils"

type Size string

const (
	SizeDefault Size = "default"
	SizeSm      Size = "sm"
)

type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Name       string
	Value      string
	Disabled   bool
	Checked    bool
	Form       string
	// Size of the switch. Options: 'default', 'sm'.
	Size Size
}

templ Switch(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	if p.ID == "" {
		{{ p.ID = utils.RandomID() }}
	}
	if p.Size == "" {
		{{ p.Size = SizeDefault }}
	}
	<label
		for={ p.ID }
		class={ utils.TwMerge(
			"group/switch inline-flex items-center gap-2",
			utils.If(p.Disabled, "cursor-not-allowed"),
		) }
	>
		<input
			id={ p.ID }
			if p.Name != "" {
				name={ p.Name }
			}
			type="checkbox"
			if p.Value != "" {
				value={ p.Value }
			} else {
				value="on"
			}
			if p.Form != "" {
				form={ p.Form }
			}
			checked?={ p.Checked }
			disabled?={ p.Disabled }
			class="peer sr-only"
			role="switch"
			{ p.Attributes... }
		/>
		<div
			data-slot="switch"
			data-size={ string(p.Size) }
			aria-hidden="true"
			class={
				utils.TwMerge(
					"relative inline-flex shrink-0 items-center rounded-full border border-transparent bg-input transition-all outline-none dark:bg-input/80 data-[size=default]:h-[18.4px] data-[size=default]:w-[32px] data-[size=sm]:h-[14px] data-[size=sm]:w-[24px]",
					"peer-checked:bg-primary peer-focus-visible:border-ring peer-focus-visible:ring-3 peer-focus-visible:ring-ring/50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50",
					"peer-aria-invalid:border-destructive peer-aria-invalid:ring-3 peer-aria-invalid:ring-destructive/20 dark:peer-aria-invalid:border-destructive/50 dark:peer-aria-invalid:ring-destructive/40",
					"before:pointer-events-none before:block before:rounded-full before:bg-background before:ring-0 before:transition-transform before:content-[''] dark:before:bg-foreground dark:peer-checked:before:bg-primary-foreground data-[size=default]:before:size-4 data-[size=sm]:before:size-3 before:translate-x-0 peer-checked:before:translate-x-[calc(100%-2px)]",
					p.Class,
				),
			}
		></div>
	</label>
}
