package modules

import "github.com/templui/templui/v2/components/tabs"

type ComponentUsageProps struct {
	ComponentName string
}

templ ComponentUsage(props ComponentUsageProps) {
	{{
		componentAlias := props.ComponentName
		if props.ComponentName == "switch" {
			componentAlias = "switchcomp"
		}

		componentImportLine := `"` + "github.com/templui/templui/v2/components/" + props.ComponentName + `"`
		if componentAlias != props.ComponentName {
			componentImportLine = componentAlias + " " + componentImportLine
		}

		importCode := "import " + componentImportLine
	}}
	@tabs.Tabs(tabs.Props{
		ID: "installation-" + props.ComponentName,
	}) {
		@tabs.List(tabs.ListProps{
			Variant: tabs.VariantLine,
			Class: "w-fit",
		}) {
			@tabs.Trigger(tabs.TriggerProps{
				Value:    "cli",
			}) {
				CLI
			}
			@tabs.Trigger(tabs.TriggerProps{
				Value: "import",
			}) {
				Import
			}
		}
		<div class="mt-4">
			@tabs.Content(tabs.ContentProps{
				Value:    "cli",
			}) {
				@Code(CodeProps{
					CodeContent:    "templui add " + props.ComponentName,
					ShowCopyButton: true,
				})
			}
			@tabs.Content(tabs.ContentProps{
				Value: "import",
			}) {
				@Code(CodeProps{
					CodeContent:    importCode,
					ShowCopyButton: true,
				})
			}
		</div>
	}
}
