package kbd

import "github.com/templui/templui/v2/utils"

type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type GroupProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

templ Kbd(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<kbd
		if p.ID != "" {
			id={ p.ID }
		}
		data-slot="kbd"
		class={
			utils.CN(
				"cn-kbd pointer-events-none inline-flex items-center justify-center select-none",
				p.Class,
			),
		}
		{ p.Attributes... }
	>
		{ children... }
	</kbd>
}

templ Group(props ...GroupProps) {
	{{ var p GroupProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<kbd
		if p.ID != "" {
			id={ p.ID }
		}
		data-slot="kbd-group"
		class={ utils.CN("cn-kbd-group inline-flex items-center", p.Class) }
		{ p.Attributes... }
	>
		{ children... }
	</kbd>
}
