package sidebar16

import "github.com/axadrn/shadcn-templ/v2/components/sidebar"

templ Page() {
	<div class="[--header-height:calc(--spacing(14))]">
		@sidebar.Provider(sidebar.ProviderProps{Class: "flex flex-col"}) {
			@SiteHeader()
			<div class="flex flex-1">
				@AppSidebar()
				@sidebar.Inset() {
					<div class="flex flex-1 flex-col gap-4 p-4">
						<div class="grid auto-rows-min gap-4 md:grid-cols-3">
							<div class="aspect-video rounded-xl bg-muted/50"></div>
							<div class="aspect-video rounded-xl bg-muted/50"></div>
							<div class="aspect-video rounded-xl bg-muted/50"></div>
						</div>
						<div class="min-h-screen flex-1 rounded-xl bg-muted/50 md:min-h-min"></div>
					</div>
				}
			</div>
		}
	</div>
}
