package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/alert"
	"github.com/axadrn/shadcn-templ/v2/components/button"
)

templ AlertAction() {
	@alert.Alert(alert.Props{Class: "max-w-md"}) {
		@alert.Title() {
			Dark mode is now available
		}
		@alert.Description() {
			Enable it under your profile settings to get started.
		}
		@alert.Action() {
			@button.Button(button.Props{Size: button.SizeXs}) {
				Enable
			}
		}
	}
}
