package examples

import (
	"github.com/templui/templui/v2/components/alert"
	"github.com/templui/templui/v2/components/icon"
)

templ AlertDemo() {
	<div class="grid w-full max-w-md items-start gap-4">
		@alert.Alert() {
			@icon.CircleCheck()
			@alert.Title() {
				Payment successful
			}
			@alert.Description() {
				Your payment of $29.99 has been processed. A receipt has been sent to your email address.
			}
		}
		@alert.Alert() {
			@icon.Info()
			@alert.Title() {
				New feature available
			}
			@alert.Description() {
				We've added dark mode support. You can enable it in your account settings.
			}
		}
	</div>
}
