package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/alertdialog"
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
)

templ AlertDialogWithMedia() {
	@alertdialog.AlertDialog() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: alertdialog.Trigger(ctx),
		}) {
			Share Project
		}
		@alertdialog.Content() {
			@alertdialog.Header() {
				@alertdialog.Media() {
					@icon.CircleFadingPlus()
				}
				@alertdialog.Title() {
					Share this project?
				}
				@alertdialog.Description() {
					Anyone with the link will be able to view and edit this project.
				}
			}
			@alertdialog.Footer() {
				@alertdialog.Cancel() {
					Cancel
				}
				@alertdialog.Action() {
					Share
				}
			}
		}
	}
}
