package examples

import "github.com/templui/templui/components/aspectratio"

templ AspectRatioDemo() {
	@aspectratio.AspectRatio(aspectratio.Props{
		Ratio: "16/9",
		Class: "w-full max-w-sm rounded-lg bg-muted",
	}) {
		<img
			src="/assets/img/aspect_ratio_placeholder.jpeg"
			alt="Photo"
			class="absolute inset-0 h-full w-full rounded-lg object-cover grayscale dark:brightness-20"
		/>
	}
}
