package examples

import (
	"github.com/templui/templui/components/avatar"
	"github.com/templui/templui/components/icon"
)

templ AvatarBadgeIcon() {
	@avatar.Avatar(avatar.Props{Class: "grayscale"}) {
		@avatar.Image(avatar.ImageProps{
			Src: "https://github.com/axadrn.png",
			Alt: "@axadrn",
		})
		@avatar.Fallback() {
			AA
		}
		@avatar.Badge() {
			@icon.Plus()
		}
	}
}
