package examples

import "github.com/axadrn/shadcn-templ/v2/components/avatar"

templ AvatarSize() {
	<div class="flex flex-wrap items-center gap-2 grayscale">
		@avatar.Avatar(avatar.Props{Size: avatar.SizeSm}) {
			@avatar.Image(avatar.ImageProps{
				Src: "https://github.com/axadrn.png",
				Alt: "@axadrn",
			})
			@avatar.Fallback() {
				AA
			}
		}
		@avatar.Avatar() {
			@avatar.Image(avatar.ImageProps{
				Src: "https://github.com/axadrn.png",
				Alt: "@axadrn",
			})
			@avatar.Fallback() {
				AA
			}
		}
		@avatar.Avatar(avatar.Props{Size: avatar.SizeLg}) {
			@avatar.Image(avatar.ImageProps{
				Src: "https://github.com/axadrn.png",
				Alt: "@axadrn",
			})
			@avatar.Fallback() {
				AA
			}
		}
	</div>
}
