package examples

import (
	"github.com/templui/templui/components/avatar"
	"github.com/templui/templui/components/icon"
)

templ AvatarGroupCountIcon() {
	@avatar.Group(avatar.GroupProps{Class: "grayscale"}) {
		@avatar.Avatar() {
			@avatar.Image(avatar.ImageProps{
				Src: "https://github.com/axadrn.png",
				Alt: "@axadrn",
			})
			@avatar.Fallback() {
				AA
			}
		}
		@avatar.Avatar() {
			@avatar.Image(avatar.ImageProps{
				Src: "https://github.com/a-h.png",
				Alt: "@a-h",
			})
			@avatar.Fallback() {
				AH
			}
		}
		@avatar.Avatar() {
			@avatar.Image(avatar.ImageProps{
				Src: "https://github.com/joerdav.png",
				Alt: "@joerdav",
			})
			@avatar.Fallback() {
				JD
			}
		}
		@avatar.GroupCount() {
			@icon.Plus()
		}
	}
}
