package examples

import "github.com/templui/templui/components/avatar"

templ AvatarDefault() {
	<div class="flex flex-row flex-wrap items-center gap-6 md:gap-12">
		@avatar.Avatar() {
			@avatar.Image(avatar.ImageProps{
				Src:   "https://github.com/axadrn.png",
				Alt:   "@axadrn",
				Class: "grayscale",
			})
			@avatar.Fallback() {
				AA
			}
		}
		@avatar.Avatar() {
			@avatar.Image(avatar.ImageProps{
				Src: "https://github.com/joerdav.png",
				Alt: "@joerdav",
			})
			@avatar.Fallback() {
				JD
			}
			@avatar.Badge(avatar.BadgeProps{Class: "bg-green-600 dark:bg-green-800"})
		}
		@avatar.Group(avatar.GroupProps{Class: "grayscale"}) {
			@avatar.Avatar() {
				@avatar.Image(avatar.ImageProps{
					Src: "https://github.com/axadrn.png",
					Alt: "@axadrn",
				})
				@avatar.Fallback() {
					AA
				}
			}
			@avatar.Avatar() {
				@avatar.Image(avatar.ImageProps{
					Src: "https://github.com/a-h.png",
					Alt: "@a-h",
				})
				@avatar.Fallback() {
					AH
				}
			}
			@avatar.Avatar() {
				@avatar.Image(avatar.ImageProps{
					Src: "https://github.com/joerdav.png",
					Alt: "@joerdav",
				})
				@avatar.Fallback() {
					JD
				}
			}
			@avatar.GroupCount() {
				+3
			}
		}
	</div>
}
