package examples

import "github.com/templui/templui/v2/components/avatar"

templ AvatarBadgeExample() {
	@avatar.Avatar() {
		@avatar.Image(avatar.ImageProps{
			Src: "https://github.com/axadrn.png",
			Alt: "@axadrn",
		})
		@avatar.Fallback() {
			AA
		}
		@avatar.Badge(avatar.BadgeProps{Class: "bg-green-600 dark:bg-green-800"})
	}
}
