package examples

import "github.com/axadrn/shadcn-templ/v2/components/badge"

templ BadgeVariants() {
	<div class="flex flex-wrap gap-2">
		@badge.Badge() {
			Default
		}
		@badge.Badge(badge.Props{Variant: badge.VariantSecondary}) {
			Secondary
		}
		@badge.Badge(badge.Props{Variant: badge.VariantDestructive}) {
			Destructive
		}
		@badge.Badge(badge.Props{Variant: badge.VariantOutline}) {
			Outline
		}
		@badge.Badge(badge.Props{Variant: badge.VariantGhost}) {
			Ghost
		}
	</div>
}
