package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/badge"
	"github.com/axadrn/shadcn-templ/v2/components/spinner"
)

templ BadgeSpinner() {
	<div class="flex flex-wrap gap-2">
		@badge.Badge(badge.Props{Variant: badge.VariantDestructive}) {
			@spinner.Spinner(spinner.Props{Attributes: templ.Attributes{"data-icon": "inline-start"}})
			Deleting
		}
		@badge.Badge(badge.Props{Variant: badge.VariantSecondary}) {
			Generating
			@spinner.Spinner(spinner.Props{Attributes: templ.Attributes{"data-icon": "inline-end"}})
		}
	</div>
}
