package examples

import (
	"github.com/templui/templui/v2/components/badge"
	"github.com/templui/templui/v2/components/icon"
)

templ BadgeLink() {
	@badge.Badge(badge.Props{Href: "#link"}) {
		Open Link
		@icon.ArrowUpRight(icon.Props{Attributes: templ.Attributes{"data-icon": "inline-end"}})
	}
}
