package examples

import (
	"github.com/templui/templui/components/breadcrumb"
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/dropdownmenu"
)

templ BreadcrumbDemo() {
	@breadcrumb.Breadcrumb() {
		@breadcrumb.List() {
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{Href: "#"}) {
					Home
				}
			}
			@breadcrumb.Separator()
			@breadcrumb.Item() {
				@dropdownmenu.Root() {
					@button.Button(button.Props{
						Size:       button.SizeIconSm,
						Variant:    button.VariantGhost,
						Attributes: dropdownmenu.Trigger(ctx),
					}) {
						@breadcrumb.Ellipsis()
						<span class="sr-only">Toggle menu</span>
					}
					@dropdownmenu.Content(dropdownmenu.ContentProps{Align: dropdownmenu.AlignStart}) {
						@dropdownmenu.Group() {
							@dropdownmenu.Item() {
								Documentation
							}
							@dropdownmenu.Item() {
								Themes
							}
							@dropdownmenu.Item() {
								GitHub
							}
						}
					}
				}
			}
			@breadcrumb.Separator()
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{Href: "#"}) {
					Components
				}
			}
			@breadcrumb.Separator()
			@breadcrumb.Item() {
				@breadcrumb.Page() {
					Breadcrumb
				}
			}
		}
	}
}
