package examples

import "github.com/axadrn/shadcn-templ/v2/components/breadcrumb"

templ BreadcrumbEllipsisDemo() {
	@breadcrumb.Breadcrumb() {
		@breadcrumb.List() {
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{Href: "/"}) {
					Home
				}
			}
			@breadcrumb.Separator()
			@breadcrumb.Item() {
				@breadcrumb.Ellipsis()
			}
			@breadcrumb.Separator()
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{Href: "/docs/components"}) {
					Components
				}
			}
			@breadcrumb.Separator()
			@breadcrumb.Item() {
				@breadcrumb.Page() {
					Breadcrumb
				}
			}
		}
	}
}
