package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/breadcrumb"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
)

templ BreadcrumbSeparator() {
	@breadcrumb.Breadcrumb() {
		@breadcrumb.List() {
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{Href: "/"}) {
					Home
				}
			}
			@breadcrumb.Separator() {
				@icon.Dot()
			}
			@breadcrumb.Item() {
				@breadcrumb.Link(breadcrumb.LinkProps{Href: "/docs/components"}) {
					Components
				}
			}
			@breadcrumb.Separator() {
				@icon.Dot()
			}
			@breadcrumb.Item() {
				@breadcrumb.Page() {
					Breadcrumb
				}
			}
		}
	}
}
