package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/buttongroup"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
	"github.com/axadrn/shadcn-templ/v2/components/inputgroup"
	"github.com/axadrn/shadcn-templ/v2/components/tooltip"
)

templ ButtonGroupNested() {
	@buttongroup.ButtonGroup() {
		@buttongroup.ButtonGroup() {
			@button.Button(button.Props{
				Variant: button.VariantOutline,
				Size:    button.SizeIcon,
			}) {
				@icon.Plus()
			}
		}
		@buttongroup.ButtonGroup() {
			@inputgroup.InputGroup() {
				@inputgroup.Input(inputgroup.InputProps{Placeholder: "Send a message..."})
				@tooltip.Tooltip() {
					@inputgroup.Addon(inputgroup.AddonProps{
						Align:      inputgroup.AlignInlineEnd,
						Attributes: tooltip.Trigger(ctx),
					}) {
						@icon.AudioLines()
					}
					@tooltip.Content() {
						Voice Mode
					}
				}
			}
		}
	}
}
