package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/buttongroup"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
)

templ ButtonGroupSplit() {
	@buttongroup.ButtonGroup() {
		@button.Button(button.Props{Variant: button.VariantSecondary}) {
			Button
		}
		@buttongroup.Separator()
		@button.Button(button.Props{
			Variant: button.VariantSecondary,
			Size:    button.SizeIcon,
		}) {
			@icon.Plus()
		}
	}
}
