package examples

import "github.com/axadrn/shadcn-templ/v2/components/button"

templ ButtonDestructive() {
	@button.Button(button.Props{
		Variant: button.VariantDestructive,
	}) {
		Destructive
	}
}
