package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/spinner"
)

templ ButtonSpinner() {
	<div class="flex gap-2">
		@button.Button(button.Props{
			Variant:  button.VariantOutline,
			Disabled: true,
		}) {
			@spinner.Spinner(spinner.Props{Attributes: templ.Attributes{"data-icon": "inline-start"}})
			Generating
		}
		@button.Button(button.Props{
			Variant:  button.VariantSecondary,
			Disabled: true,
		}) {
			Downloading
			@spinner.Spinner(spinner.Props{Attributes: templ.Attributes{"data-icon": "inline-start"}})
		}
	</div>
}
