package examples

import "github.com/axadrn/shadcn-templ/v2/components/button"

templ ButtonRender() {
	@button.Button(button.Props{
		Href:    "#",
		Variant: button.VariantSecondary,
		Size:    button.SizeSm,
	}) {
		Login
	}
}
