package examples

import (
	"github.com/templui/templui/v2/components/button"
	"github.com/templui/templui/v2/components/buttongroup"
)

templ ButtonGroupSeparatorExample() {
	@buttongroup.ButtonGroup() {
		@button.Button(button.Props{
			Variant: button.VariantSecondary,
			Size:    button.SizeSm,
		}) {
			Copy
		}
		@buttongroup.Separator()
		@button.Button(button.Props{
			Variant: button.VariantSecondary,
			Size:    button.SizeSm,
		}) {
			Paste
		}
	}
}
