package examples

import (
	"time"

	"github.com/axadrn/shadcn-templ/v2/components/calendar"
	"github.com/axadrn/shadcn-templ/v2/components/card"
)

templ CalendarWeekNumbers() {
	{{ selected := time.Date(time.Now().Year(), 1, 12, 0, 0, 0, 0, time.Local) }}
	@card.Card(card.Props{Class: "mx-auto w-fit p-0"}) {
		@card.Content(card.ContentProps{Class: "p-0"}) {
			@calendar.Calendar(calendar.Props{
				Selected:           selected,
				ShowWeekNumber: true,
			})
		}
	}
}
