package examples

import (
	"time"

	"github.com/templui/templui/components/calendar"
)

templ CalendarDefault() {
	{{ now := time.Now() }}
	@calendar.Calendar(calendar.Props{
		Value:         now,
		CaptionLayout: calendar.CaptionLayoutDropdown,
		Class:         "rounded-lg border",
	})
}
