package examples

import (
	"time"

	"github.com/templui/templui/components/calendar"
	"github.com/templui/templui/components/card"
)

templ CalendarBookedDates() {
	{{
		selected := time.Date(time.Now().Year(), 1, 6, 0, 0, 0, 0, time.Local)
		booked := make([]time.Time, 15)
		for i := range booked {
			booked[i] = time.Date(time.Now().Year(), 1, 12+i, 0, 0, 0, 0, time.Local)
		}
	}}
	@card.Card(card.Props{Class: "mx-auto w-fit p-0"}) {
		@card.Content(card.ContentProps{Class: "p-0"}) {
			@calendar.Calendar(calendar.Props{
				Value:       selected,
				BookedDates: booked,
			})
		}
	}
}
