package examples

import (
	"time"

	"github.com/templui/templui/components/calendar"
)

templ CalendarRange() {
	{{
		from := time.Date(time.Now().Year(), 1, 12, 0, 0, 0, 0, time.Local)
		to := from.AddDate(0, 0, 30)
	}}
	@calendar.Calendar(calendar.Props{
		Mode:           calendar.ModeRange,
		Selected:          from,
		EndValue:       to,
		NumberOfMonths: 2,
		Class:          "rounded-lg border",
	})
}
