package examples

import "github.com/templui/templui/v2/components/calendar"

templ CalendarCaption() {
	@calendar.Calendar(calendar.Props{
		CaptionLayout: calendar.CaptionLayoutDropdown,
		Class:         "rounded-lg border",
	})
}
