package examples

import (
	"time"

	"github.com/axadrn/shadcn-templ/v2/components/calendar"
)

templ CalendarDemo() {
	{{ now := time.Now() }}
	@calendar.Calendar(calendar.Props{
		Selected:         now,
		CaptionLayout: calendar.CaptionLayoutDropdown,
		Class:         "rounded-lg border",
	})
}
