package examples

import (
	"strconv"

	"github.com/templui/templui/components/card"
	"github.com/templui/templui/components/carousel"
)

templ CarouselOrientation() {
	@carousel.Carousel(carousel.Props{
		Align: carousel.AlignStart,
		Orientation: carousel.OrientationVertical,
		Class:       "w-full max-w-xs",
	}) {
		@carousel.Content(carousel.ContentProps{Class: "-mt-1 h-[270px]"}) {
			for i := 1; i <= 5; i++ {
				@carousel.Item(carousel.ItemProps{Class: "basis-1/2 pt-1"}) {
					<div class="p-1">
						@card.Card() {
							@card.Content(card.ContentProps{Class: "flex items-center justify-center p-6"}) {
								<span class="text-3xl font-semibold">{ strconv.Itoa(i) }</span>
							}
						}
					</div>
				}
			}
		}
		@carousel.Previous()
		@carousel.Next()
	}
}
