package examples

import (
	"github.com/templui/templui/v2/components/checkbox"
	"github.com/templui/templui/v2/components/field"
)

templ CheckboxDescription() {
	@field.Group(field.GroupProps{Class: "mx-auto w-72"}) {
		@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
			@checkbox.Checkbox(checkbox.Props{ID: "terms-checkbox-desc", Name: "terms-checkbox-desc", Checked: true})
			@field.Content() {
				@field.Label(field.LabelProps{For: "terms-checkbox-desc"}) {
					Accept terms and conditions
				}
				@field.Description() {
					By clicking this checkbox, you agree to the terms and conditions.
				}
			}
		}
	}
}
