package examples

import (
	"github.com/templui/templui/v2/components/checkbox"
	"github.com/templui/templui/v2/components/field"
)

templ CheckboxInvalid() {
	@field.Group(field.GroupProps{Class: "mx-auto w-56"}) {
		@field.Field(field.Props{Orientation: field.OrientationHorizontal, Attributes: templ.Attributes{"data-invalid": "true"}}) {
			@checkbox.Checkbox(checkbox.Props{
				ID:         "terms-checkbox-invalid",
				Name:       "terms-checkbox-invalid",
				Attributes: templ.Attributes{"aria-invalid": "true"},
			})
			@field.Label(field.LabelProps{For: "terms-checkbox-invalid"}) {
				Accept terms and conditions
			}
		}
	}
}
