package examples

import (
	"github.com/templui/templui/components/checkbox"
	"github.com/templui/templui/components/field"
)

templ CheckboxForm() {
	<div class="w-full max-w-sm">
		@field.Field() {
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@checkbox.Checkbox(
					checkbox.Props{
						Name:    "interests",
						Value:   "design",
						ID:      "c1",
						Checked: true,
					},
				)
				@field.Label(field.LabelProps{
					For: "c1",
				}) {
					Dessign and UX
				}
			}
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@checkbox.Checkbox(checkbox.Props{
					Name:     "interests",
					Value:    "development",
					ID:       "c2",
					Disabled: true,
				})
				@field.Label(field.LabelProps{
					For: "c2",
				}) {
					Development (Coming Soon)
				}
			}
			@field.Field(field.Props{Orientation: field.OrientationHorizontal}) {
				@checkbox.Checkbox(checkbox.Props{
					Name:  "interests",
					Value: "marketing",
					ID:    "c3",
				})
				@field.Label(field.LabelProps{
					For: "c3",
				}) {
					Business and Marketing
				}
			}
			@field.Description() {
				Choose all areas that interest you.
			}
			@field.Error() {
				Please select at least one interest.
			}
		}
	</div>
}
