package examples

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/card"
	"github.com/templui/templui/components/collapsible"
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/input"
)

templ CollapsibleSettings() {
	@card.Card(card.Props{Class: "mx-auto w-full max-w-xs", Size: card.SizeSm}) {
		@card.Header() {
			@card.Title() {
				Radius
			}
			@card.Description() {
				Set the corner radius of the element.
			}
		}
		@card.Content() {
			@collapsible.Collapsible(collapsible.Props{Class: "flex items-start gap-2"}) {
				@field.Group(field.GroupProps{Class: "grid w-full grid-cols-2 gap-2"}) {
					@field.Field() {
						@field.Label(field.LabelProps{For: "radius-x", Class: "sr-only"}) {
							Radius X
						}
						@input.Input(input.Props{ID: "radius-x", Placeholder: "0", Value: "0"})
					}
					@field.Field() {
						@field.Label(field.LabelProps{For: "radius-y", Class: "sr-only"}) {
							Radius Y
						}
						@input.Input(input.Props{ID: "radius-y", Placeholder: "0", Value: "0"})
					}
					@collapsible.Content(collapsible.ContentProps{Class: "col-span-full grid grid-cols-subgrid gap-2"}) {
						@field.Field() {
							@field.Label(field.LabelProps{For: "radius-top", Class: "sr-only"}) {
								Radius Top
							}
							@input.Input(input.Props{ID: "radius-top", Placeholder: "0", Value: "0"})
						}
						@field.Field() {
							@field.Label(field.LabelProps{For: "radius-bottom", Class: "sr-only"}) {
								Radius Bottom
							}
							@input.Input(input.Props{ID: "radius-bottom", Placeholder: "0", Value: "0"})
						}
					}
				}
				@button.Button(button.Props{
					Variant:    button.VariantOutline,
					Size:       button.SizeIcon,
					Attributes: collapsible.Trigger(ctx),
				}) {
					@icon.Maximize(icon.Props{Class: "group-data-panel-open/button:hidden"})
					@icon.Minimize(icon.Props{Class: "hidden group-data-panel-open/button:inline"})
				}
			}
		}
	}
}
