package examples

import "github.com/templui/templui/v2/components/combobox"

templ ComboboxClear() {
	@combobox.Combobox(combobox.Props{Value: "templ"}) {
		@combobox.Input(combobox.InputProps{
			Placeholder: "Select a framework",
			ShowClear:   true,
		})
		@combobox.Content() {
			@combobox.Empty() {
				No items found.
			}
			@combobox.List() {
				@combobox.Item(combobox.ItemProps{Value: "templ"}) {
					templ
				}
				@combobox.Item(combobox.ItemProps{Value: "htmx"}) {
					htmx
				}
				@combobox.Item(combobox.ItemProps{Value: "gin"}) {
					Gin
				}
				@combobox.Item(combobox.ItemProps{Value: "echo"}) {
					Echo
				}
				@combobox.Item(combobox.ItemProps{Value: "chi"}) {
					Chi
				}
			}
		}
	}
}
