package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/command"
	"github.com/axadrn/shadcn-templ/v2/components/dialog"
)

templ CommandBasic() {
	<div class="flex flex-col gap-4">
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Class:      "w-fit",
			Attributes: dialog.TriggerFor("command-basic"),
		}) {
			Open Menu
		}
		@command.Dialog(command.DialogProps{ID: "command-basic"}) {
			@command.Command() {
				@command.Input(command.InputProps{Placeholder: "Type a command or search..."})
				@command.List() {
					@command.Empty() {
						No results found.
					}
					@command.Group(command.GroupProps{Heading: "Suggestions"}) {
						@command.Item() {
							Calendar
						}
						@command.Item() {
							Search Emoji
						}
						@command.Item() {
							Calculator
						}
					}
				}
			}
		}
	</div>
}
