package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/command"
	"github.com/axadrn/shadcn-templ/v2/components/dialog"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
)

templ CommandShortcuts() {
	<div class="flex flex-col gap-4">
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Class:      "w-fit",
			Attributes: dialog.TriggerFor("command-shortcuts"),
		}) {
			Open Menu
		}
		@command.Dialog(command.DialogProps{ID: "command-shortcuts"}) {
			@command.Command() {
				@command.Input(command.InputProps{Placeholder: "Type a command or search..."})
				@command.List() {
					@command.Empty() {
						No results found.
					}
					@command.Group(command.GroupProps{Heading: "Settings"}) {
						@command.Item() {
							@icon.User()
							<span>Profile</span>
							@command.Shortcut() {
								⌘P
							}
						}
						@command.Item() {
							@icon.CreditCard()
							<span>Billing</span>
							@command.Shortcut() {
								⌘B
							}
						}
						@command.Item() {
							@icon.Settings()
							<span>Settings</span>
							@command.Shortcut() {
								⌘S
							}
						}
					}
				}
			}
		}
	</div>
}
