package examples

import "github.com/axadrn/shadcn-templ/v2/components/contextmenu"

templ ContextMenuDemo() {
	@contextmenu.ContextMenu() {
		@contextmenu.Trigger(contextmenu.TriggerProps{Class: "flex aspect-video w-full max-w-xs items-center justify-center rounded-xl border border-dashed text-sm"}) {
			<span class="hidden pointer-fine:inline-block">Right click here</span>
			<span class="hidden pointer-coarse:inline-block">Long press here</span>
		}
		@contextmenu.Content(contextmenu.ContentProps{Class: "w-48"}) {
			@contextmenu.Group() {
				@contextmenu.Item() {
					Back
					@contextmenu.Shortcut() {
						⌘[
					}
				}
				@contextmenu.Item(contextmenu.ItemProps{Disabled: true}) {
					Forward
					@contextmenu.Shortcut() {
						⌘]
					}
				}
				@contextmenu.Item() {
					Reload
					@contextmenu.Shortcut() {
						⌘R
					}
				}
				@contextmenu.Sub() {
					@contextmenu.SubTrigger() {
						More Tools
					}
					@contextmenu.SubContent(contextmenu.SubContentProps{Class: "w-44"}) {
						@contextmenu.Group() {
							@contextmenu.Item() {
								Save Page...
							}
							@contextmenu.Item() {
								Create Shortcut...
							}
							@contextmenu.Item() {
								Name Window...
							}
						}
						@contextmenu.Separator()
						@contextmenu.Group() {
							@contextmenu.Item() {
								Developer Tools
							}
						}
						@contextmenu.Separator()
						@contextmenu.Group() {
							@contextmenu.Item(contextmenu.ItemProps{Variant: contextmenu.ItemVariantDestructive}) {
								Delete
							}
						}
					}
				}
			}
			@contextmenu.Separator()
			@contextmenu.Group() {
				@contextmenu.CheckboxItem(contextmenu.CheckboxItemProps{DefaultChecked: true}) {
					Show Bookmarks
				}
				@contextmenu.CheckboxItem() {
					Show Full URLs
				}
			}
			@contextmenu.Separator()
			@contextmenu.Group() {
				@contextmenu.RadioGroup(contextmenu.RadioGroupProps{DefaultValue: "pedro"}) {
					@contextmenu.Label() {
						People
					}
					@contextmenu.RadioItem(contextmenu.RadioItemProps{Value: "pedro"}) {
						Pedro Duarte
					}
					@contextmenu.RadioItem(contextmenu.RadioItemProps{Value: "colm"}) {
						Colm Tuite
					}
				}
			}
		}
	}
}
