package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/dialog"
)

templ DialogScrollableContent() {
	@dialog.Dialog() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: dialog.Trigger(ctx),
		}) {
			Scrollable Content
		}
		@dialog.Content() {
			@dialog.Header() {
				@dialog.Title() {
					Scrollable Content
				}
				@dialog.Description() {
					This is a dialog with scrollable content.
				}
			}
			<div class="no-scrollbar -mx-4 max-h-[50vh] overflow-y-auto px-4">
				for range 10 {
					<p class="mb-4 leading-normal">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				}
			</div>
		}
	}
}
