package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/drawer"
)

templ DrawerSwipeHandle() {
	@drawer.Drawer(drawer.Props{ShowSwipeHandle: true}) {
		@button.Button(button.Props{Variant: button.VariantSecondary, Attributes: drawer.Trigger(ctx)}) {
			Open Drawer
		}
		@drawer.Content() {
			@drawer.Header() {
				@drawer.Title() {
					Drawer
				}
				@drawer.Description() {
					Drawer with a swipe handle.
				}
			}
			<div class="flex-1 p-4">
				<div class="rounded-2xl bg-muted group-data-[swipe-axis=x]/drawer-popup:size-full group-data-[swipe-axis=y]/drawer-popup:h-80 group-data-[swipe-axis=y]/drawer-popup:w-full"></div>
			</div>
			@drawer.Footer() {
				@button.Button(button.Props{Attributes: drawer.Close(ctx)}) {
					Close
				}
			}
		}
	}
}
