package examples

import (
	"github.com/templui/templui/v2/components/button"
	"github.com/templui/templui/v2/components/drawer"
)

templ DrawerSnapPoints() {
	@drawer.Drawer(drawer.Props{SnapPoints: []any{"31rem", 1}, ShowSwipeHandle: true}) {
		@button.Button(button.Props{Variant: button.VariantOutline, Attributes: drawer.Trigger(ctx)}) {
			Open Snap Drawer
		}
		@drawer.Content() {
			@drawer.Header() {
				@drawer.Title() {
					Snap points
				}
				@drawer.Description() {
					Drag the drawer to snap between a compact peek and a near full-height view.
				}
			}
			<div class="flex-1 p-4">
				<div class="rounded-2xl bg-muted group-data-[swipe-axis=x]/drawer-popup:size-full group-data-[swipe-axis=y]/drawer-popup:h-80 group-data-[swipe-axis=y]/drawer-popup:w-full"></div>
			</div>
			@drawer.Footer() {
				@button.Button(button.Props{Attributes: drawer.Close(ctx)}) {
					Close
				}
			}
		}
	}
}
