package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/drawer"
)

templ DrawerSides() {
	@drawer.Drawer(drawer.Props{SwipeDirection: drawer.SwipeDirectionLeft}) {
		@button.Button(button.Props{Variant: button.VariantSecondary, Attributes: drawer.Trigger(ctx)}) {
			Open Left Drawer
		}
		@drawer.Content() {
			@drawer.Header() {
				@drawer.Title() {
					Move Goal
				}
				@drawer.Description() {
					Set your daily activity goal.
				}
			}
			<div class="flex-1 p-4">
				<div class="size-full rounded-2xl bg-muted"></div>
			</div>
			@drawer.Footer() {
				@button.Button(button.Props{Attributes: drawer.Close(ctx)}) {
					Close
				}
			}
		}
	}
}
