package examples

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/dropdownmenu"
)

templ DropdownMenuShortcuts() {
	@dropdownmenu.Root() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: dropdownmenu.Trigger(ctx),
		}) {
			Open
		}
		@dropdownmenu.Content() {
			@dropdownmenu.Group() {
				@dropdownmenu.Label() {
					My Account
				}
				@dropdownmenu.Item() {
					Profile
					@dropdownmenu.Shortcut() {
						⇧⌘P
					}
				}
				@dropdownmenu.Item() {
					Billing
					@dropdownmenu.Shortcut() {
						⌘B
					}
				}
				@dropdownmenu.Item() {
					Settings
					@dropdownmenu.Shortcut() {
						⌘S
					}
				}
			}
			@dropdownmenu.Separator()
			@dropdownmenu.Item() {
				Log out
				@dropdownmenu.Shortcut() {
					⇧⌘Q
				}
			}
		}
	}
}
