package examples

import (
	"github.com/templui/templui/v2/components/button"
	"github.com/templui/templui/v2/components/field"
	"github.com/templui/templui/v2/components/input"
)

templ FieldResponsive() {
	<div class="w-full max-w-lg">
		<form>
			@field.Set() {
				@field.Legend() {
					Profile
				}
				@field.Description() {
					Fill in your profile information.
				}
				@field.Group() {
					@field.Field(field.Props{Orientation: field.OrientationResponsive}) {
						@field.Content() {
							@field.Label(field.LabelProps{For: "name"}) {
								Name
							}
							@field.Description() {
								Provide your full name for identification
							}
						}
						@input.Input(input.Props{
							ID:          "name",
							Placeholder: "Axel Adrian",
						})
					}
					@field.Field(field.Props{Orientation: field.OrientationResponsive}) {
						@button.Button(button.Props{Type: button.TypeSubmit}) {
							Submit
						}
						@button.Button(button.Props{
							Type:    button.TypeButton,
							Variant: button.VariantOutline,
						}) {
							Cancel
						}
					}
				}
			}
		</form>
	</div>
}
