package examples

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/input"
)

templ InputRequired() {
	@field.Field() {
		@field.Label(field.LabelProps{For: "input-required"}) {
			Required Field <span class="text-destructive">*</span>
		}
		@input.Input(input.Props{
			ID:          "input-required",
			Placeholder: "This field is required",
			Required:    true,
		})
		@field.Description() {
			This field must be filled out.
		}
	}
}
