package examples

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/input"
)

templ InputDisabled() {
	@field.Field(field.Props{Attributes: templ.Attributes{"data-disabled": "true"}}) {
		@field.Label(field.LabelProps{For: "input-demo-disabled"}) {
			Email
		}
		@input.Input(input.Props{
			ID:          "input-demo-disabled",
			Type:        "email",
			Placeholder: "Email",
			Disabled:    true,
		})
		@field.Description() {
			This field is currently disabled.
		}
	}
}
