package examples

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/input"
)

templ InputInvalid() {
	@field.Field(field.Props{Attributes: templ.Attributes{"data-invalid": "true"}}) {
		@field.Label(field.LabelProps{For: "input-invalid"}) {
			Invalid Input
		}
		@input.Input(input.Props{
			ID:          "input-invalid",
			Placeholder: "Error",
			Attributes: templ.Attributes{"aria-invalid": "true"},
		})
		@field.Description() {
			This field contains validation errors.
		}
	}
}
