package examples

import "github.com/axadrn/shadcn-templ/v2/components/inputotp"

templ InputOTPSeparatorExample() {
	@inputotp.InputOTP() {
		@inputotp.Group() {
			@inputotp.Slot(inputotp.SlotProps{Index: 0})
			@inputotp.Slot(inputotp.SlotProps{Index: 1})
		}
		@inputotp.Separator()
		@inputotp.Group() {
			@inputotp.Slot(inputotp.SlotProps{Index: 2})
			@inputotp.Slot(inputotp.SlotProps{Index: 3})
		}
		@inputotp.Separator()
		@inputotp.Group() {
			@inputotp.Slot(inputotp.SlotProps{Index: 4})
			@inputotp.Slot(inputotp.SlotProps{Index: 5})
		}
	}
}
