package examples

import (
	"github.com/templui/templui/v2/components/field"
	"github.com/templui/templui/v2/components/input"
)

templ InputField() {
	@field.Field() {
		@field.Label(field.LabelProps{For: "input-field-username"}) {
			Username
		}
		@input.Input(input.Props{
			ID:          "input-field-username",
			Type:        "text",
			Placeholder: "Enter your username",
		})
		@field.Description() {
			Choose a unique username for your account.
		}
	}
}
