package examples

import "github.com/templui/templui/components/inputgroup"

templ InputGroupCustom() {
	<div class="grid w-full max-w-sm gap-6">
		@inputgroup.InputGroup() {
			<textarea
				data-slot="input-group-control"
				class="flex field-sizing-content min-h-16 w-full resize-none rounded-md bg-transparent px-3 py-2.5 text-base transition-[color,box-shadow] outline-none md:text-sm"
				placeholder="Autoresize textarea..."
			></textarea>
			@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignBlockEnd}) {
				@inputgroup.Button(inputgroup.ButtonProps{Class: "ml-auto", Size: inputgroup.ButtonSizeSm, Variant: "default"}) {
					Submit
				}
			}
		}
	</div>
}
