package examples

import (
	"github.com/templui/templui/v2/components/button"
	"github.com/templui/templui/v2/components/field"
	"github.com/templui/templui/v2/components/inputgroup"
)

templ InputGroupBlockEnd() {
	@field.Group(field.GroupProps{Class: "max-w-sm"}) {
		@field.Field() {
			@field.Label(field.LabelProps{For: "block-end-input"}) {
				Input
			}
			@inputgroup.InputGroup(inputgroup.Props{Class: "h-auto"}) {
				@inputgroup.Input(inputgroup.InputProps{ID: "block-end-input", Placeholder: "Enter amount"})
				@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignBlockEnd}) {
					@inputgroup.Text() {
						USD
					}
				}
			}
			@field.Description() {
				Footer positioned below the input.
			}
		}
		@field.Field() {
			@field.Label(field.LabelProps{For: "block-end-textarea"}) {
				Textarea
			}
			@inputgroup.InputGroup() {
				@inputgroup.Textarea(inputgroup.TextareaProps{ID: "block-end-textarea", Placeholder: "Write a comment..."})
				@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignBlockEnd}) {
					@inputgroup.Text() {
						0/280
					}
					@inputgroup.Button(inputgroup.ButtonProps{Variant: button.VariantDefault, Size: inputgroup.ButtonSizeSm, Class: "ml-auto"}) {
						Post
					}
				}
			}
			@field.Description() {
				Footer positioned below the textarea.
			}
		}
	}
}
