package examples

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/card"
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/inputotp"
)

templ InputOTPForm() {
	@card.Card(card.Props{Class: "mx-auto max-w-md"}) {
		@card.Header() {
			@card.Title() {
				Verify your login
			}
			@card.Description() {
				Enter the verification code we sent to your email address: <span class="font-medium">m@example.com</span>.
			}
		}
		@card.Content() {
			@field.Field() {
				<div class="flex items-center justify-between">
					@field.Label(field.LabelProps{For: "otp-verification"}) {
						Verification code
					}
					@button.Button(button.Props{Variant: button.VariantOutline, Size: button.SizeXs}) {
						@icon.RefreshCw()
						Resend Code
					}
				</div>
				@inputotp.InputOTP(inputotp.Props{ID: "otp-verification", Required: true}) {
					@inputotp.Group(inputotp.GroupProps{Class: "*:data-[slot=input-otp-slot]:h-12 *:data-[slot=input-otp-slot]:w-11 *:data-[slot=input-otp-slot]:text-xl"}) {
						@inputotp.Slot(inputotp.SlotProps{Index: 0})
						@inputotp.Slot(inputotp.SlotProps{Index: 1})
						@inputotp.Slot(inputotp.SlotProps{Index: 2})
					}
					@inputotp.Separator(inputotp.SeparatorProps{Class: "mx-2"})
					@inputotp.Group(inputotp.GroupProps{Class: "*:data-[slot=input-otp-slot]:h-12 *:data-[slot=input-otp-slot]:w-11 *:data-[slot=input-otp-slot]:text-xl"}) {
						@inputotp.Slot(inputotp.SlotProps{Index: 3})
						@inputotp.Slot(inputotp.SlotProps{Index: 4})
						@inputotp.Slot(inputotp.SlotProps{Index: 5})
					}
				}
				@field.Description() {
					<a href="#">I no longer have access to this email address.</a>
				}
			}
		}
		@card.Footer() {
			@field.Field() {
				@button.Button(button.Props{Type: button.TypeSubmit, Class: "w-full"}) {
					Verify
				}
				<div class="text-sm text-muted-foreground">
					Having trouble signing in? <a href="#" class="underline underline-offset-4 transition-colors hover:text-primary">Contact support</a>
				</div>
			}
		}
	}
}
