package examples

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/inputgroup"
)

templ InputInputGroup() {
	@field.Field() {
		@field.Label(field.LabelProps{For: "input-group-url"}) {
			Website URL
		}
		@inputgroup.InputGroup() {
			@inputgroup.Input(inputgroup.InputProps{ID: "input-group-url", Placeholder: "example.com"})
			@inputgroup.Addon() {
				@inputgroup.Text() {
					https://
				}
			}
			@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignInlineEnd}) {
				@icon.Info()
			}
		}
	}
}
