package examples

import (
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/inputgroup"
)

templ InputGroupDemo() {
	@inputgroup.InputGroup(inputgroup.Props{Class: "max-w-xs"}) {
		@inputgroup.Input(inputgroup.InputProps{Placeholder: "Search..."})
		@inputgroup.Addon() {
			@icon.Search()
		}
		@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignInlineEnd}) {
			12 results
		}
	}
}
