package examples

import (
	"github.com/templui/templui/components/dropdownmenu"
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/inputgroup"
	"github.com/templui/templui/utils"
)

templ InputGroupDropdown() {
	<div class="grid w-full max-w-sm gap-4">
		@inputgroup.InputGroup() {
			@inputgroup.Input(inputgroup.InputProps{Placeholder: "Enter file name"})
			@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignInlineEnd}) {
				@dropdownmenu.DropdownMenu() {
					@inputgroup.Button(inputgroup.ButtonProps{
						Variant:    "ghost",
						Size:       inputgroup.ButtonSizeIconXs,
						Attributes: utils.MergeAttributes(dropdownmenu.Trigger(ctx), templ.Attributes{"aria-label": "More"}),
					}) {
						@icon.Ellipsis()
					}
					@dropdownmenu.Content(dropdownmenu.ContentProps{Align: dropdownmenu.AlignEnd, SideOffset: 8, AlignOffset: -4}) {
						@dropdownmenu.Group() {
							@dropdownmenu.Item() {
								Settings
							}
							@dropdownmenu.Item() {
								Copy path
							}
							@dropdownmenu.Item() {
								Open location
							}
						}
					}
				}
			}
		}
		@inputgroup.InputGroup() {
			@inputgroup.Input(inputgroup.InputProps{Placeholder: "Enter search query"})
			@inputgroup.Addon(inputgroup.AddonProps{Align: inputgroup.AlignInlineEnd}) {
				@dropdownmenu.DropdownMenu() {
					@inputgroup.Button(inputgroup.ButtonProps{
						Variant:    "ghost",
						Class:      "pr-1.5! text-xs",
						Attributes: dropdownmenu.Trigger(ctx),
					}) {
						Search In...
						@icon.ChevronDown(icon.Props{Class: "size-3"})
					}
					@dropdownmenu.Content(dropdownmenu.ContentProps{Align: dropdownmenu.AlignEnd, SideOffset: 8, AlignOffset: -4}) {
						@dropdownmenu.Group() {
							@dropdownmenu.Item() {
								Documentation
							}
							@dropdownmenu.Item() {
								Blog Posts
							}
							@dropdownmenu.Item() {
								Changelog
							}
						}
					}
				}
			}
		}
	</div>
}
