package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/field"
	"github.com/axadrn/shadcn-templ/v2/components/input"
)

templ InputGrid() {
	@field.Group(field.GroupProps{Class: "grid max-w-sm grid-cols-2"}) {
		@field.Field() {
			@field.Label(field.LabelProps{For: "first-name"}) {
				First Name
			}
			@input.Input(input.Props{
				ID:          "first-name",
				Placeholder: "Jordan",
			})
		}
		@field.Field() {
			@field.Label(field.LabelProps{For: "last-name"}) {
				Last Name
			}
			@input.Input(input.Props{
				ID:          "last-name",
				Placeholder: "Lee",
			})
		}
	}
}
