package examples

import "github.com/templui/templui/components/input"

templ InputTimeDefault() {
	<div class="w-full max-w-sm">
		@input.Input(input.Props{
			Type:  input.TypeTime,
			Value: "10:30",
		})
	</div>
}
