package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/avatar"
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
	"github.com/axadrn/shadcn-templ/v2/components/item"
)

templ ItemAvatar() {
	<div class="flex w-full max-w-lg flex-col gap-6">
		@item.Item(item.Props{Variant: item.VariantOutline}) {
			@item.Media() {
				@avatar.Avatar(avatar.Props{Class: "size-10"}) {
					@avatar.Image(avatar.ImageProps{Src: "https://github.com/axadrn.png"})
					@avatar.Fallback() {
						AA
					}
				}
			}
			@item.Content() {
				@item.Title() {
					Axel Adrian
				}
				@item.Description() {
					Last seen 5 months ago
				}
			}
			@item.Actions() {
				@button.Button(button.Props{
					Size:       button.SizeIconSm,
					Variant:    button.VariantOutline,
					Class:      "rounded-full",
					Attributes: templ.Attributes{"aria-label": "Invite"},
				}) {
					@icon.Plus()
				}
			}
		}
		@item.Item(item.Props{Variant: item.VariantOutline}) {
			@item.Media() {
				@avatar.Group(avatar.GroupProps{Class: "grayscale"}) {
					@avatar.Avatar(avatar.Props{Class: "hidden sm:flex"}) {
						@avatar.Image(avatar.ImageProps{
							Src: "https://github.com/a-h.png",
							Alt: "@a-h",
						})
						@avatar.Fallback() {
							AH
						}
					}
					@avatar.Avatar(avatar.Props{Class: "hidden sm:flex"}) {
						@avatar.Image(avatar.ImageProps{
							Src: "https://github.com/joerdav.png",
							Alt: "@joerdav",
						})
						@avatar.Fallback() {
							JD
						}
					}
					@avatar.Avatar() {
						@avatar.Image(avatar.ImageProps{
							Src: "https://github.com/mvdan.png",
							Alt: "@mvdan",
						})
						@avatar.Fallback() {
							DM
						}
					}
				}
			}
			@item.Content() {
				@item.Title() {
					No Team Members
				}
				@item.Description() {
					Invite your team to collaborate on this project.
				}
			}
			@item.Actions() {
				@button.Button(button.Props{
					Size:    button.SizeSm,
					Variant: button.VariantOutline,
				}) {
					Invite
				}
			}
		}
	</div>
}
