package examples

import (
	"github.com/templui/templui/v2/components/checkbox"
	"github.com/templui/templui/v2/components/label"
)

templ LabelDemo() {
	<div class="flex gap-2">
		@checkbox.Checkbox(checkbox.Props{ID: "terms"})
		@label.Label(label.Props{For: "terms"}) {
			Accept terms and conditions
		}
	</div>
}
