package examples

import "github.com/axadrn/shadcn-templ/v2/components/pagination"

templ PaginationSimple() {
	@pagination.Pagination() {
		@pagination.Content() {
			@pagination.Item() {
				@pagination.Link(pagination.LinkProps{Href: "#"}) {
					1
				}
			}
			@pagination.Item() {
				@pagination.Link(pagination.LinkProps{Href: "#", IsActive: true}) {
					2
				}
			}
			@pagination.Item() {
				@pagination.Link(pagination.LinkProps{Href: "#"}) {
					3
				}
			}
			@pagination.Item() {
				@pagination.Link(pagination.LinkProps{Href: "#"}) {
					4
				}
			}
			@pagination.Item() {
				@pagination.Link(pagination.LinkProps{Href: "#"}) {
					5
				}
			}
		}
	}
}
