package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/popover"
)

templ PopoverBasic() {
	@popover.Popover() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: popover.Trigger(ctx),
		}) {
			Open Popover
		}
		@popover.Content(popover.ContentProps{Side: popover.SideBottom, Align: popover.AlignStart}) {
			@popover.Header() {
				@popover.Title() {
					Dimensions
				}
				@popover.Description() {
					Set the dimensions for the layer.
				}
			}
		}
	}
}
