package examples

import (
	"github.com/templui/templui/v2/components/button"
	"github.com/templui/templui/v2/components/input"
	"github.com/templui/templui/v2/components/label"
	"github.com/templui/templui/v2/components/popover"
)

templ PopoverDemo() {
	@popover.Popover() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: popover.Trigger(ctx),
		}) {
			Open popover
		}
		@popover.Content(popover.ContentProps{Class: "w-80"}) {
			<div class="grid gap-4">
				<div class="space-y-2">
					<h4 class="leading-none font-medium">Dimensions</h4>
					<p class="text-sm text-muted-foreground">Set the dimensions for the layer.</p>
				</div>
				<div class="grid gap-2">
					<div class="grid grid-cols-3 items-center gap-4">
						@label.Label(label.Props{For: "width"}) {
							Width
						}
						@input.Input(input.Props{
							ID:    "width",
							Value: "100%",
							Class: "col-span-2 h-8",
						})
					</div>
					<div class="grid grid-cols-3 items-center gap-4">
						@label.Label(label.Props{For: "maxWidth"}) {
							Max. width
						}
						@input.Input(input.Props{
							ID:    "maxWidth",
							Value: "300px",
							Class: "col-span-2 h-8",
						})
					</div>
					<div class="grid grid-cols-3 items-center gap-4">
						@label.Label(label.Props{For: "height"}) {
							Height
						}
						@input.Input(input.Props{
							ID:    "height",
							Value: "25px",
							Class: "col-span-2 h-8",
						})
					</div>
					<div class="grid grid-cols-3 items-center gap-4">
						@label.Label(label.Props{For: "maxHeight"}) {
							Max. height
						}
						@input.Input(input.Props{
							ID:    "maxHeight",
							Value: "none",
							Class: "col-span-2 h-8",
						})
					</div>
				</div>
			</div>
		}
	}
}
