package examples

import (
	"github.com/templui/templui/v2/components/button"
	"github.com/templui/templui/v2/components/popover"
)

templ PopoverAlignments() {
	<div class="flex gap-6">
		@popover.Popover() {
			@button.Button(button.Props{
				Variant:    button.VariantOutline,
				Size:       button.SizeSm,
				Attributes: popover.Trigger(ctx),
			}) {
				Start
			}
			@popover.Content(popover.ContentProps{
				Side: popover.SideBottom, Align: popover.AlignStart,
				Class:     "w-40",
			}) {
				Aligned to start
			}
		}
		@popover.Popover() {
			@button.Button(button.Props{
				Variant:    button.VariantOutline,
				Size:       button.SizeSm,
				Attributes: popover.Trigger(ctx),
			}) {
				Center
			}
			@popover.Content(popover.ContentProps{
				Side: popover.SideBottom,
				Class:     "w-40",
			}) {
				Aligned to center
			}
		}
		@popover.Popover() {
			@button.Button(button.Props{
				Variant:    button.VariantOutline,
				Size:       button.SizeSm,
				Attributes: popover.Trigger(ctx),
			}) {
				End
			}
			@popover.Content(popover.ContentProps{
				Side: popover.SideBottom, Align: popover.AlignEnd,
				Class:     "w-40",
			}) {
				Aligned to end
			}
		}
	</div>
}
