package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/label"
	"github.com/axadrn/shadcn-templ/v2/components/radiogroup"
)

templ RadioGroupDemo() {
	@radiogroup.RadioGroup(radiogroup.Props{Value: "comfortable", Class: "w-fit"}) {
		<div class="flex items-center gap-3">
			@radiogroup.Item(radiogroup.ItemProps{ID: "r1", Value: "default"})
			@label.Label(label.Props{For: "r1"}) {
				Default
			}
		</div>
		<div class="flex items-center gap-3">
			@radiogroup.Item(radiogroup.ItemProps{ID: "r2", Value: "comfortable"})
			@label.Label(label.Props{For: "r2"}) {
				Comfortable
			}
		</div>
		<div class="flex items-center gap-3">
			@radiogroup.Item(radiogroup.ItemProps{ID: "r3", Value: "compact"})
			@label.Label(label.Props{For: "r3"}) {
				Compact
			}
		</div>
	}
}
