package examples

import "github.com/axadrn/shadcn-templ/v2/components/resizable"

templ ResizableRTL() {
	@resizable.PanelGroup(resizable.PanelGroupProps{
		Orientation: resizable.OrientationHorizontal,
		Class:       "max-w-sm rounded-lg border",
		Attributes:  templ.Attributes{"dir": "rtl"},
	}) {
		@resizable.Panel(resizable.PanelProps{DefaultSize: "50%"}) {
			<div class="flex h-[200px] items-center justify-center p-6">
				<span class="font-semibold">واحد</span>
			</div>
		}
		@resizable.Handle(resizable.HandleProps{WithHandle: true})
		@resizable.Panel(resizable.PanelProps{DefaultSize: "50%"}) {
			@resizable.PanelGroup(resizable.PanelGroupProps{
				Orientation: resizable.OrientationVertical,
				Attributes:  templ.Attributes{"dir": "rtl"},
			}) {
				@resizable.Panel(resizable.PanelProps{DefaultSize: "25%"}) {
					<div class="flex h-full items-center justify-center p-6">
						<span class="font-semibold">اثنان</span>
					</div>
				}
				@resizable.Handle(resizable.HandleProps{WithHandle: true})
				@resizable.Panel(resizable.PanelProps{DefaultSize: "75%"}) {
					<div class="flex h-full items-center justify-center p-6">
						<span class="font-semibold">ثلاثة</span>
					</div>
				}
			}
		}
	}
}
