package examples

import selectcomp "github.com/axadrn/shadcn-templ/v2/components/select"

templ SelectDisabled() {
	@selectcomp.Select(selectcomp.Props{Disabled: true}) {
		@selectcomp.Trigger(selectcomp.TriggerProps{Class: "w-full max-w-48"}) {
			@selectcomp.Value(selectcomp.ValueProps{Placeholder: "Select a fruit"})
		}
		@selectcomp.Content() {
			@selectcomp.Group() {
				@selectcomp.Item(selectcomp.ItemProps{Value: "apple"}) {
					Apple
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "banana"}) {
					Banana
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "blueberry"}) {
					Blueberry
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "grapes", Disabled: true}) {
					Grapes
				}
				@selectcomp.Item(selectcomp.ItemProps{Value: "pineapple"}) {
					Pineapple
				}
			}
		}
	}
}
