package examples

import "github.com/templui/templui/components/skeleton"

templ SkeletonDemo() {
	<div class="flex items-center gap-4">
		@skeleton.Skeleton(skeleton.Props{Class: "h-12 w-12 rounded-full"})
		<div class="space-y-2">
			@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-[250px]"})
			@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-[200px]"})
		</div>
	</div>
}
