package examples

import (
	"github.com/templui/templui/components/card"
	"github.com/templui/templui/components/skeleton"
)

templ SkeletonCard() {
	@card.Card(card.Props{Class: "w-full max-w-xs"}) {
		@card.Header() {
			@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-2/3"})
			@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-1/2"})
		}
		@card.Content() {
			@skeleton.Skeleton(skeleton.Props{Class: "aspect-video w-full"})
		}
	}
}
