package examples

import "github.com/templui/templui/v2/components/skeleton"

templ SkeletonTable() {
	<div class="flex w-full max-w-sm flex-col gap-2">
		for range 5 {
			<div class="flex gap-4">
				@skeleton.Skeleton(skeleton.Props{Class: "h-4 flex-1"})
				@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-24"})
				@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-20"})
			</div>
		}
	</div>
}
