package examples

import "github.com/templui/templui/v2/components/skeleton"

templ SkeletonAvatar() {
	<div class="flex w-fit items-center gap-4">
		@skeleton.Skeleton(skeleton.Props{Class: "size-10 shrink-0 rounded-full"})
		<div class="grid gap-2">
			@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-[150px]"})
			@skeleton.Skeleton(skeleton.Props{Class: "h-4 w-[100px]"})
		</div>
	</div>
}
