package examples

import "github.com/axadrn/shadcn-templ/v2/components/slider"

templ SliderDisabled() {
	@slider.Slider(slider.Props{
		Value:   []float64{50},
		Max:      100,
		Step:     1,
		Disabled: true,
		Class:    "mx-auto w-full max-w-xs",
	})
}
