package examples

import "github.com/axadrn/shadcn-templ/v2/components/slider"

templ SliderDemo() {
	@slider.Slider(slider.Props{
		DefaultValue: []float64{75},
		Max:          100,
		Step:         1,
		Class:        "mx-auto w-full max-w-xs",
	})
}
