package examples

import "github.com/templui/templui/components/slider"

templ SliderDemo() {
	@slider.Slider(slider.Props{
		Values: []float64{75},
		Max:    100,
		Step:   1,
		Class:  "mx-auto w-full max-w-xs",
	})
}
