package examples

import (
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/components/spinner"
)

templ SpinnerCustom() {
	@spinner.Spinner(spinner.Props{Icon: icon.Loader})
}
