package examples

import "github.com/templui/templui/components/spinner"

templ SpinnerSize() {
	<div class="flex items-center gap-6">
		@spinner.Spinner(spinner.Props{Class: "size-3"})
		@spinner.Spinner(spinner.Props{Class: "size-4"})
		@spinner.Spinner(spinner.Props{Class: "size-6"})
		@spinner.Spinner(spinner.Props{Class: "size-8"})
	</div>
}
