package examples

import (
	"github.com/templui/templui/components/field"
	switchcomp "github.com/templui/templui/components/switch"
)

templ SwitchDisabled() {
	@field.Field(field.Props{Orientation: field.OrientationHorizontal, Class: "w-fit", Attributes: templ.Attributes{"data-disabled": "true"}}) {
		@switchcomp.Switch(switchcomp.Props{ID: "switch-disabled-unchecked", Disabled: true})
		@field.Label(field.LabelProps{For: "switch-disabled-unchecked"}) {
			Disabled
		}
	}
}
