package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/label"
	switchcomp "github.com/axadrn/shadcn-templ/v2/components/switch"
)

templ SwitchDemo() {
	<div class="flex items-center space-x-2">
		@switchcomp.Switch(switchcomp.Props{ID: "airplane-mode"})
		@label.Label(label.Props{For: "airplane-mode"}) {
			Airplane Mode
		}
	</div>
}
