package examples

import "github.com/templui/templui/v2/components/table"

templ TableFooterExample() {
	@table.Table() {
		@table.Caption() {
			A list of your recent invoices.
		}
		@table.Header() {
			@table.Row() {
				@table.Head(table.HeadProps{Class: "w-[100px]"}) {
					Invoice
				}
				@table.Head() {
					Status
				}
				@table.Head() {
					Method
				}
				@table.Head(table.HeadProps{Class: "text-right"}) {
					Amount
				}
			}
		}
		@table.Body() {
			for _, invoice := range tableInvoices[:3] {
				@table.Row() {
					@table.Cell(table.CellProps{Class: "font-medium"}) {
						{ invoice.Invoice }
					}
					@table.Cell() {
						{ invoice.PaymentStatus }
					}
					@table.Cell() {
						{ invoice.PaymentMethod }
					}
					@table.Cell(table.CellProps{Class: "text-right"}) {
						{ invoice.TotalAmount }
					}
				}
			}
		}
		@table.Footer() {
			@table.Row() {
				@table.Cell(table.CellProps{Attributes: templ.Attributes{"colspan": "3"}}) {
					Total
				}
				@table.Cell(table.CellProps{Class: "text-right"}) {
					$2,500.00
				}
			}
		}
	}
}
