package examples

import (
	"github.com/templui/templui/v2/components/icon"
	"github.com/templui/templui/v2/components/tabs"
)

templ TabsIcons() {
	@tabs.Tabs(tabs.Props{DefaultValue: "preview"}) {
		@tabs.List() {
			@tabs.Trigger(tabs.TriggerProps{Value: "preview"}) {
				@icon.AppWindow()
				Preview
			}
			@tabs.Trigger(tabs.TriggerProps{Value: "code"}) {
				@icon.Code()
				Code
			}
		}
	}
}
