package examples

import "github.com/axadrn/shadcn-templ/v2/components/tabs"

templ TabsDisabled() {
	@tabs.Tabs(tabs.Props{DefaultValue: "home"}) {
		@tabs.List() {
			@tabs.Trigger(tabs.TriggerProps{Value: "home"}) {
				Home
			}
			@tabs.Trigger(tabs.TriggerProps{Value: "settings", Disabled: true}) {
				Disabled
			}
		}
	}
}
