package examples

import (
	"github.com/templui/templui/components/field"
	"github.com/templui/templui/components/textarea"
)

templ TextareaForm() {
	<div class="w-full max-w-md">
		@field.Field() {
			@field.Label(field.LabelProps{
				For: "textarea-form",
			}) {
				Your Message
			}
			@textarea.Textarea(textarea.Props{
				ID:          "textarea-form",
				Name:        "message",
				Placeholder: "Type your message here...",
			})
			@field.Description() {
				Please type your message in the textarea.
			}
			@field.Error() {
				This message is required.
			}
		}
	</div>
}
