package examples

import "github.com/templui/templui/components/button"

templ ToastDemo() {
	@button.Button(button.Props{
		Variant:    button.VariantOutline,
		Attributes: templ.Attributes{"id": "toast-demo-trigger"},
	}) {
		Show Toast
	}
	<script nonce={ templ.GetNonce(ctx) }>
		document.getElementById("toast-demo-trigger").addEventListener("click", () => {
			const id = window.tui.toast.add({
				title: "Event created",
				description: "Sunday, December 3 at 9:00 AM",
				actionProps: {
					children: "Undo",
					onClick() {
						window.tui.toast.close(id);
					},
				},
			});
		});
	</script>
}
