package examples

import (
	"github.com/templui/templui/v2/components/icon"
	"github.com/templui/templui/v2/components/toggle"
)

templ ToggleText() {
	@toggle.Toggle(toggle.Props{
		Attributes: templ.Attributes{"aria-label": "Toggle italic"},
	}) {
		@icon.Italic()
		Italic
	}
}
