package examples

import (
	"github.com/templui/templui/v2/components/icon"
	"github.com/templui/templui/v2/components/togglegroup"
)

templ ToggleGroupDisabled() {
	@togglegroup.ToggleGroup(togglegroup.Props{ToggleMultiple: true}) {
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "bold",
			Disabled:   true,
			Attributes: templ.Attributes{"aria-label": "Toggle bold"},
		}) {
			@icon.Bold()
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "italic",
			Disabled:   true,
			Attributes: templ.Attributes{"aria-label": "Toggle italic"},
		}) {
			@icon.Italic()
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "strikethrough",
			Disabled:   true,
			Attributes: templ.Attributes{"aria-label": "Toggle strikethrough"},
		}) {
			@icon.Underline()
		}
	}
}
