package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/togglegroup"
)

templ ToggleGroupOutline() {
	@togglegroup.ToggleGroup(togglegroup.Props{
		Variant: togglegroup.VariantOutline,
			}) {
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "all",
			Pressed:    true,
			Attributes: templ.Attributes{"aria-label": "Toggle all"},
		}) {
			All
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "missed",
			Attributes: templ.Attributes{"aria-label": "Toggle missed"},
		}) {
			Missed
		}
	}
}
