package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/icon"
	"github.com/axadrn/shadcn-templ/v2/components/togglegroup"
	"github.com/axadrn/shadcn-templ/v2/utils"
)

templ ToggleGroupVertical() {
	@togglegroup.ToggleGroup(togglegroup.Props{
		ToggleMultiple: true,
		Orientation: togglegroup.OrientationVertical,
		Spacing:     utils.Ptr(1),
	}) {
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "bold",
			Pressed:    true,
			Attributes: templ.Attributes{"aria-label": "Toggle bold"},
		}) {
			@icon.Bold()
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "italic",
			Pressed:    true,
			Attributes: templ.Attributes{"aria-label": "Toggle italic"},
		}) {
			@icon.Italic()
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "underline",
			Attributes: templ.Attributes{"aria-label": "Toggle underline"},
		}) {
			@icon.Underline()
		}
	}
}
