package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/togglegroup"
	"github.com/axadrn/shadcn-templ/v2/utils"
)

templ ToggleGroupSpacing() {
	@togglegroup.ToggleGroup(togglegroup.Props{
		Size:         togglegroup.SizeSm,
		Variant:      togglegroup.VariantOutline,
		Spacing:      utils.Ptr(2),
		DefaultValue: []string{"top"},
	}) {
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "top",
			Attributes: templ.Attributes{"aria-label": "Toggle top"},
		}) {
			Top
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "bottom",
			Attributes: templ.Attributes{"aria-label": "Toggle bottom"},
		}) {
			Bottom
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "left",
			Attributes: templ.Attributes{"aria-label": "Toggle left"},
		}) {
			Left
		}
		@togglegroup.Item(togglegroup.ItemProps{
			Value:      "right",
			Attributes: templ.Attributes{"aria-label": "Toggle right"},
		}) {
			Right
		}
	}
}
