package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/togglegroup"
)

templ ToggleGroupSize() {
	<div class="flex flex-col gap-4">
		@togglegroup.ToggleGroup(togglegroup.Props{
						Size:    togglegroup.SizeSm,
			Variant: togglegroup.VariantOutline,
		}) {
			@togglegroup.Item(togglegroup.ItemProps{
				Value:      "top",
				Pressed:    true,
				Attributes: templ.Attributes{"aria-label": "Toggle top"},
			}) {
				Top
			}
			@togglegroup.Item(togglegroup.ItemProps{
				Value:      "bottom",
				Attributes: templ.Attributes{"aria-label": "Toggle bottom"},
			}) {
				Bottom
			}
			@togglegroup.Item(togglegroup.ItemProps{
				Value:      "left",
				Attributes: templ.Attributes{"aria-label": "Toggle left"},
			}) {
				Left
			}
			@togglegroup.Item(togglegroup.ItemProps{
				Value:      "right",
				Attributes: templ.Attributes{"aria-label": "Toggle right"},
			}) {
				Right
			}
		}
		@togglegroup.ToggleGroup(togglegroup.Props{
						Variant: togglegroup.VariantOutline,
		}) {
			@togglegroup.Item(togglegroup.ItemProps{
				Value:      "top",
				Pressed:    true,
				Attributes: templ.Attributes{"aria-label": "Toggle top"},
			}) {
				Top
			}
			@togglegroup.Item(togglegroup.ItemProps{
				Value:      "bottom",
				Attributes: templ.Attributes{"aria-label": "Toggle bottom"},
			}) {
				Bottom
			}
			@togglegroup.Item(togglegroup.ItemProps{
				Value:      "left",
				Attributes: templ.Attributes{"aria-label": "Toggle left"},
			}) {
				Left
			}
			@togglegroup.Item(togglegroup.ItemProps{
				Value:      "right",
				Attributes: templ.Attributes{"aria-label": "Toggle right"},
			}) {
				Right
			}
		}
	</div>
}
