package examples

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/tooltip"
)

templ TooltipDisabled() {
	@tooltip.Tooltip() {
		<span class="inline-block w-fit" { tooltip.Trigger(ctx)... }>
			@button.Button(button.Props{Variant: button.VariantOutline, Disabled: true}) {
				Disabled
			}
		</span>
		@tooltip.Content() {
			This feature is currently unavailable
		}
	}
}
