package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/icon"
	"github.com/axadrn/shadcn-templ/v2/components/kbd"
	"github.com/axadrn/shadcn-templ/v2/components/tooltip"
)

templ TooltipKeyboard() {
	@tooltip.Tooltip() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Size:       button.SizeIconSm,
			Attributes: tooltip.Trigger(ctx),
		}) {
			@icon.Save()
		}
		@tooltip.Content() {
			Save Changes
			@kbd.Kbd() {
				S
			}
		}
	}
}
