package examples

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/tooltip"
)

var tooltipSides = []tooltip.Side{tooltip.SideLeft, tooltip.SideTop, tooltip.SideBottom, tooltip.SideRight}

templ TooltipSides() {
	<div class="flex flex-wrap gap-2">
		for _, side := range tooltipSides {
			@tooltip.Tooltip() {
				@button.Button(button.Props{
					Variant:    button.VariantOutline,
					Class:      "w-fit capitalize",
					Attributes: tooltip.Trigger(ctx),
				}) {
					{ string(side) }
				}
				@tooltip.Content(tooltip.ContentProps{Side: side}) {
					<p>Add to library</p>
				}
			}
		}
	</div>
}
