package examples

import (
	"github.com/templui/templui/components/button"
	"github.com/templui/templui/components/tooltip"
)

templ TooltipDefault() {
	@tooltip.Tooltip() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: tooltip.Trigger(ctx),
		}) {
			Hover
		}
		@tooltip.Content() {
			Add to library
		}
	}
}
