package examples

import (
	"github.com/axadrn/shadcn-templ/v2/components/button"
	"github.com/axadrn/shadcn-templ/v2/components/tooltip"
)

templ TooltipDemo() {
	@tooltip.Tooltip() {
		@button.Button(button.Props{
			Variant:    button.VariantOutline,
			Attributes: tooltip.Trigger(ctx),
		}) {
			Hover
		}
		@tooltip.Content() {
			<p>Add to library</p>
		}
	}
}
