package accordion

import (
	"github.com/templui/templui/components/icon"
	"github.com/templui/templui/utils"
)

type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type ItemProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type TriggerProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type ContentProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

templ Accordion(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div
		if p.ID != "" {
			id={ p.ID }
		}
		data-slot="accordion"
		class={
			utils.TwMerge(
				"flex w-full flex-col",
				p.Class,
			),
		}
		{ p.Attributes... }
	>
		{ children... }
	</div>
}

templ Item(props ...ItemProps) {
	{{ var p ItemProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<details
		if p.ID != "" {
			id={ p.ID }
		}
		name="accordion"
		class={
			utils.TwMerge(
				"group not-last:border-b",
				p.Class,
			),
		}
		{ p.Attributes... }
	>
		{ children... }
	</details>
}

templ Trigger(props ...TriggerProps) {
	{{ var p TriggerProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<summary
		if p.ID != "" {
			id={ p.ID }
		}
		class={
			utils.TwMerge(
				"group/accordion-trigger relative flex flex-1 items-start justify-between rounded-lg border border-transparent py-2.5 text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:border-ring focus-visible:ring-3 focus-visible:ring-ring/50 focus-visible:after:border-ring aria-disabled:pointer-events-none aria-disabled:opacity-50",
				"**:data-[slot=accordion-trigger-icon]:ml-auto **:data-[slot=accordion-trigger-icon]:size-4 **:data-[slot=accordion-trigger-icon]:text-muted-foreground",
				"list-none [&::-webkit-details-marker]:hidden",
				p.Class,
			),
		}
		{ p.Attributes... }
	>
		{ children... }
		<span data-slot="accordion-trigger-icon" class="pointer-events-none shrink-0">
			@icon.ChevronDown(icon.Props{Class: "size-4 group-open:hidden"})
			@icon.ChevronUp(icon.Props{Class: "hidden size-4 group-open:inline"})
		</span>
	</summary>
}

templ Content(props ...ContentProps) {
	{{ var p ContentProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div
		if p.ID != "" {
			id={ p.ID }
		}
		class={
			utils.TwMerge(
				"overflow-hidden pt-0 pb-2.5 text-sm [&_a]:underline [&_a]:underline-offset-3 [&_a]:hover:text-foreground [&_p:not(:last-child)]:mb-4",
				p.Class,
			),
		}
		{ p.Attributes... }
	>
		{ children... }
	</div>
}
