package pages

import (
	"github.com/templui/templui/internal/ui/modules"
	"github.com/templui/templui/internal/ui/examples"
)

templ SidebarPreview() {
	@modules.SimplePreviewLayout(examples.SidebarDefault())
}
