package pages

import (
	"github.com/templui/templui/internal/ui/layouts"
	"github.com/templui/templui/internal/ui/examples"
)

templ SidebarFullscreen() {
	@layouts.BaseLayout(
		"Sidebar Fullscreen",
		"A composable, themeable and customizable sidebar component.",
	) {
		@examples.SidebarDefault()
	}
}
