package hovercard

import (
	"github.com/templui/templui/components/popover"
	"github.com/templui/templui/utils"
)

type Placement = popover.Placement

const (
	PlacementTop         = popover.PlacementTop
	PlacementTopStart    = popover.PlacementTopStart
	PlacementTopEnd      = popover.PlacementTopEnd
	PlacementRight       = popover.PlacementRight
	PlacementRightStart  = popover.PlacementRightStart
	PlacementRightEnd    = popover.PlacementRightEnd
	PlacementBottom      = popover.PlacementBottom
	PlacementBottomStart = popover.PlacementBottomStart
	PlacementBottomEnd   = popover.PlacementBottomEnd
	PlacementLeft        = popover.PlacementLeft
	PlacementLeftStart   = popover.PlacementLeftStart
	PlacementLeftEnd     = popover.PlacementLeftEnd
)

type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type TriggerProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type ContentProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Placement  Placement
	Offset     int
	ShowArrow  bool
	// OpenDelay is the delay in ms before the card opens on hover.
	OpenDelay int
	// CloseDelay is the delay in ms before the card closes on hover out.
	CloseDelay int
}

templ Root(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@popover.Root(popover.RootProps{
		ID:         p.ID,
		Class:      p.Class,
		Attributes: p.Attributes,
	}) {
		{ children... }
	}
}

templ Trigger(props ...TriggerProps) {
	{{ var p TriggerProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	@popover.Trigger(popover.TriggerProps{
		ID:          p.ID,
		Class:       p.Class,
		Attributes:  p.Attributes,
		TriggerType: popover.TriggerTypeHover,
	}) {
		{ children... }
	}
}

templ Content(props ...ContentProps) {
	{{ var p ContentProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	if p.Placement == "" {
		{{ p.Placement = PlacementBottom }}
	}
	if p.OpenDelay == 0 {
		{{ p.OpenDelay = 150 }}
	}
	if p.CloseDelay == 0 {
		{{ p.CloseDelay = 300 }}
	}
	@popover.Content(popover.ContentProps{
		ID:            p.ID,
		Placement:     p.Placement,
		Offset:        p.Offset,
		ShowArrow:     p.ShowArrow,
		HoverDelay:    p.OpenDelay,
		HoverOutDelay: p.CloseDelay,
		Class: utils.TwMerge(
			"w-64 p-4",
			p.Class,
		),
		Attributes: p.Attributes,
	}) {
		{ children... }
	}
}

var scriptOnce = templ.NewOnceHandle()

templ Script() {
	@scriptOnce.Once() {
		@popover.Script()
	}
}
